<script setup lang="ts">
import { useStore } from "@/stores/store";
import { mdiCursorDefaultClickOutline } from "@mdi/js";
import { ref } from "vue";
import type { VForm } from "vuetify/components";

const store = useStore();

const form = ref<InstanceType<typeof VForm> | null>(null);

async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await store.saveStore();
  }
}
const addNewStore = () => {
  store.dialog = true;
};

const clear = () => {
  store.dialog = false;
  store.clear();
};
</script>

<template>
  <v-container>
    <v-row>
      <v-dialog v-model="store.dialog" persistent>
        <template v-slot:activator="{ props }">
          <v-col cols="3" offset="9">
            <v-btn
              color="brown"
              v-bind="props"
              :prepend-icon="mdiCursorDefaultClickOutline"
              @click="addNewStore"
            >
              Add New Stores
            </v-btn>
          </v-col>
        </template>
        <v-card class="mx-auto px-6 py-8" width="600">
          <v-card-title>
            <span class="text-h5">ADD NEW STORES</span>
          </v-card-title>
          <v-card-text>
            <v-form ref="form">
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      label="Name*"
                      v-model="store.editedStores.name"
                      :rules="[
                        (v) => !!v || 'Name จะต้องไม่เป็นช่องว่าง',
                        (v) =>
                          v.length >= 2 ||
                          'Name จะต้องมีขนาดมากกว่าหรือเท่ากับ 2 ตัวอักษร',
                      ]"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      label="Address*"
                      v-model="store.editedStores.address"
                      :rules="[(v) => !!v || 'Address จะต้องไม่เป็นช่องว่าง']"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      label="Tel*"
                      v-model="store.editedStores.tel"
                      :rules="[(v) => !!v || 'Tel จะต้องไม่เป็นช่องว่าง']"
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="red-lighten-1"
              class="ma-1"
              variant="text"
              @click="clear"
            >
              Close
            </v-btn>
            <v-btn
              color="green-lighten-1"
              class="ma-1"
              variant="text"
              @click="save"
            >
              Save
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-container>
</template>
