<script setup lang="ts">
import StoreDialog from "./StoreDialog.vue";
import { useStore } from "@/stores/store";
// import type Store from "@/types/Store";
import { mdiDelete, mdiPencil } from "@mdi/js";
import { onMounted } from "vue";

const store = useStore();

// const deleteStore = (index: number): void => {
//   store.deleteStore(index);
// };

// const editStore = (Store: Store) => {
//   store.editStore(Store);
// };

onMounted(async () => {
  await store.getStores();
});
</script>

<template>
  <div><StoreDialog></StoreDialog></div>
  <v-container>
    <v-row>
      <v-col clos="12">
        <v-table style="height: 80vh; overflow: auto" fluid>
          <thead style="background-color: #ad9472">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Address</th>
              <th>Tel</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="item of store.stores"
              :key="item.id"
              style="background-color: #e9e3d0"
            >
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.address }}</td>
              <td>{{ item.tel }}</td>

              <td>
                <v-btn
                  :icon="mdiPencil"
                  color="green-lighten-3"
                  class="ma-1"
                  @click="store.editStore(item)"
                ></v-btn
                ><v-btn
                  :icon="mdiDelete"
                  color="red-lighten-3"
                  class="ma-1"
                  @click="store.deleteStore(item.id!)"
                ></v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
