<script lang="ts" setup>
import Chart, { type ChartConfiguration, type ChartItem } from "chart.js/auto";
import { mdiCursorDefaultClickOutline, mdiArrowLeft } from "@mdi/js";
import { onMounted } from "vue";

const labels = ["Dec","Jan", "Feb", "Mar"];
const data = {
  labels: labels,
  datasets: [
    {
      label: "ID 2",
      backgroundColor: "#Ff3000",
      borderColor: "#Ff3000",
      data: [9970, 8537, 4102, 6050],
    },
    {
      label: "ID 4",
      backgroundColor: "#Ffe800",
      borderColor: "#Ffe800",
      data: [13080, 11583, 2945, 9910],
    },
    {
      label: "ID 5",
      backgroundColor: "#00ffe8",
      borderColor: "#00ffe8",
      data: [2890, 6329,3732, 4930],
    },
  
    
  
  ],
};
// const labels = Utils.months({ count: 7 });
// const data = {
//   labels: labels,
//   datasets: [
//     {
//       label: "My First Dataset",
//       data: [65, 59, 80, 81, 56, 55, 40],
//       fill: false,
//       borderColor: "rgb(75, 192, 192)",
//       tension: 0.1,
//     },
//   ],
// };

const config: ChartConfiguration = {
  type: "line",
  data: data,
  options: {},
};

onMounted(() => {
  const canvasTag3 = <ChartItem>document.getElementById("myChart3")
  new Chart(
    canvasTag3, 
    config
  );
})
</script>
<template>
  
    <v-container>
    <v-row>
      <v-col>
        <h2>ยอดขายของพนักงาน</h2>
        <div>
          <canvas id="myChart3"></canvas>
        </div>
      </v-col>
    </v-row>
    <v-col
    ></v-col
  >
  </v-container>
  
  
</template>
