<script lang="ts" setup>
import Chart, { type ChartConfiguration, type ChartItem } from "chart.js/auto";
import { mdiCursorDefaultClickOutline, mdiCheckBold,mdiChevronRight } from "@mdi/js";
import { onMounted } from "vue";

const labels = ["Dec", "Feb", "Mar", "Apil"];
const data = {
  labels: labels,
  datasets: [
    {
      label: "โกโก้",
      backgroundColor: "#Ff3000",
      borderColor: "#Ff3000",
      data: [30, 28, 27, 29],
    },
    {
      label: "คาปูชิโน่",
      backgroundColor: "#Ff7400",
      borderColor: "#Ff7400",
      data: [20,27, 15, 11, ],
    },
    {
      label: "มอคค่า",
      backgroundColor: "#Ffe800",
      borderColor: "#Ffe800",
      data: [24,9, 18,20, ],
    },
    {
      label: "ลาเต้",
      backgroundColor: "#90ff00",
      borderColor: "#90ff00",
      data: [29,31, 27, 35, ],
    },
    {
      label: "ช็อคโกแลต",
      backgroundColor: "#00ffe8",
      borderColor: "#00ffe8",
      data: [24,20, 15, 24, ],
    },
    {
      label: "บราวน์ชูก้า",
      backgroundColor: "#007eff",
      borderColor: "#007eff",
      data: [23,7,20,10],
    },
    {
      label: "อเมริกาโน่",
      backgroundColor: "#Df00ff",
      borderColor: "#Df00ff",
      data: [15,10, 15, 20],
    },
    {
      label: "ชามะนาว",
      backgroundColor: "#Ff00c6",
      borderColor: "#Ff00c6",
      data: [10,12, 10, 9],
    },
    {
      label: "สมูทตี้",
      backgroundColor: "#00ff23",
      borderColor: "#00ff23",
      data: [16,34, 14, 27],
    },
    {
      label: "เอสเปรสโซ่",
      backgroundColor: "#Ffbb00",
      borderColor: "#Ffbb00",
      data: [23,14, 10, 8],
    },
    {
      label: "ชาเขียว",
      backgroundColor: "#0099ff",
      borderColor: "#0099ff",
      data: [19,21, 23, 38],
    },
    {
      label: "นมสด",
      backgroundColor: "#E9ff00",
      borderColor: "#E9ff00",
      data: [25, 20, 18],
    },
    {
      label: "ชาไทย",
      backgroundColor: "#43DDAF",
      borderColor: "#43DDAF",
      data: [6,11, 13, 8, 15],
    },
    {
      label: "เฟรชโคโค่นัท",
      backgroundColor: "#7A9D23",
      borderColor: "#7A9D23",
      data: [18,19, 14, 12],
    },
    {
      label: "ช็อคโกแลตมอล",
      backgroundColor: "#E28fcf",
      borderColor: "#E28fcf",
      data: [8,21, 18, 27],
    },
    {
      label: "สตอเบอรี่ชีสเค้กปั่น",
      backgroundColor: "#AE7B48",
      borderColor: "#AE7B48",
      data: [20,16, 24, 15],
    },
  ],
};


const config: ChartConfiguration = {
  type: "line",
  data: data,
  options: {},
};

onMounted(() => {
  const canvasTag4 = <ChartItem>document.getElementById("myChart4")
  new Chart(
    canvasTag4, 
    config
  );
})

</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <h2>ยอดขายของเมนูเครื่องดื่ม</h2>
        <div>
          <canvas id="myChart4"></canvas>
        </div>
      </v-col>
    </v-row>

  </v-container>
</template>
