<script lang="ts" setup>
import { ref } from "vue";
import GraphShow from "@/components/graph/GraphShow.vue";
import Graph2ShowD from "./Graph2ShowD.vue";
const dialog = ref(false);
</script>
<template>
  <v-row justify="start">
    <v-dialog v-model="dialog" width="1500">
      <template v-slot:activator="{ props }">
        <v-btn color="brown" v-bind="props"> แสดงข้อมูลยอดขาย </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="text-h5"></span>
        </v-card-title>
        <Graph2ShowD></Graph2ShowD>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="brown" variant="elevated" @click="dialog = false">
            close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
