<script setup lang="ts">
import { useOrderStore } from "@/stores/orderCopy";
// import type Order from "@/types/Order";
import { mdiDelete, mdiCalendarCheck } from "@mdi/js";
import { onMounted } from "vue";
import PurchaseDialog from "./PurchaseDialog.vue";

const orderStore = useOrderStore();

// const deleteOrder = (index: number): void => {
//   orderStore.deleteOrder(index);
// };

// const editOrder = (order: Order) => {
//   orderStore.editOrder(order);
// };

onMounted(async () => {
  await orderStore.getOrders();
});
</script>

<template>
  <!-- <div><OrderDialog /></div> -->
  <v-container>
    <v-row>
      <v-col
        clos="12"
        class="ma-4"
        v-for="item of orderStore.orders"
        :key="item.id"
      >
        <v-card height="600px" width="400px" style="background-color: #ad9472">
          <v-card-title
            ><v-icon
              class="pa-4 text-center mx-auto"
              color="black"
              :icon="mdiCalendarCheck"
              size="70"
            ></v-icon
            >เลขที่ใบเสร็จ {{ item.id }}
          </v-card-title>
          <v-card-text
            style="background-color: #e9e3d0"
            class="pa-2 text-center mx-auto"
            >{{ item.date }}</v-card-text
          >
          <v-card-text style="background-color: white"></v-card-text>

          <!-- <v-card-text style="background-color: white"
            >ส่วนลด : {{ item.discount }} บาท</v-card-text
          > -->
          <v-card style="height: 30vh; overflow: auto" fluid>
            <v-card-text style="background-color: white"
              >จำนวนสินค้าทั้งหมด : {{ item.amount }} รายการ</v-card-text
            >
            <v-card-text style="background-color: white"
              >จำนวนเงินรวมทั้งหมด : {{ item.total }} บาท</v-card-text
            >
            <v-card-text style="background-color: white"
              >จำนวนเงินที่ได้รับ : {{ item.received }} บาท</v-card-text
            >
            <v-card-text style="background-color: white"
              >จำนวนเงินที่ทอน : {{ item.change }} บาท</v-card-text
            >
            <v-card-text style="background-color: white"
              >ประเภทการจ่ายเงิน : {{ item.payment }}</v-card-text
            >
            <v-card-text>รายการสินค้า</v-card-text>
            <v-card-text
              style="background-color: white"
              v-for="product of item.orderItemId"
              :key="product.id"
            >
              <v-card-text>
                {{ product.name }} | ราคา : {{ product.price }} บาท | จำนวน :
                {{ product.amount }} ชิ้น | ราคารวม :
                {{ product.total }} บาท</v-card-text
              >
            </v-card-text>
          </v-card>

          <v-card-actions
            class="justify-center"
            style="background-color: #e9e3d0"
          >
            <v-btn
              :icon="mdiDelete"
              color="red-lighten-3"
              class="ma-1"
              @click="orderStore.deleteOrder(item.id!)"
            ></v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
