<script setup lang="ts">
import { useOrderStore } from "@/stores/orderCopy";
import { useOrderItemStore } from "@/stores/orderItem";
import { mdiReceiptTextCheckOutline, mdiEye } from "@mdi/js";
import { onMounted } from "vue";

const orderItemStore = useOrderItemStore();
const orderStore = useOrderStore();

onMounted(async () => {
  await orderStore.getOrders();
  await orderItemStore.getOrderItems();
});
</script>
<template>
  <v-row justify="space-around">
    <v-col cols="auto">
      <v-dialog transition="dialog-bottom-transition" width="auto">
        <template v-slot:activator="{ props }">
          <v-btn
            :icon="mdiEye"
            color="green-lighten-3"
            class="ma-1"
            v-bind="props"
          ></v-btn>
        </template>
        <template v-slot:default="{ isActive }">
          <v-card class="mx-auto" width="1000">
            <v-toolbar
              class="d-flex justify-center"
              color="#ad9472"
              title="รายการสั่งซื้อสินค้า"
              align="center"
            ></v-toolbar>
            <v-card
              size="x-large"
              :prepend-icon="mdiReceiptTextCheckOutline"
              title="D-Coffee สาขา 1"
              subtitle="รหัสสาขา :"
              class="text-right"
              ><tbody v-for="item of orderStore.orders" :key="item.id">
                <tr v-for="items of orderItemStore.orderItem" :key="items.id">
                  <!-- <td>{{ item.stores?.name }}</td> -->
                </tr>
              </tbody>
            </v-card>
            <v-table height="400">
              <thead clos="12">
                <tr>
                  <th>รายการสินค้า</th>
                  <th>ᅟᅟᅟᅟ</th>
                  <th>ราคา</th>
                  <th>ᅟᅟᅟᅟ</th>
                  <th>จำนวน</th>
                  <th>ᅟᅟᅟᅟ</th>
                  <th>ราคารวม</th>
                </tr>
              </thead>

              <tbody>
                <tr v-for="items of orderItemStore.orderItem" :key="items.id">
                  <td>{{ items.name }}</td>
                  <td></td>
                  <td>{{ items.price }}</td>
                  <td></td>
                  <td>{{ items.amount }}</td>
                  <td></td>
                  <td>{{ items.total }}</td>
                </tr>
              </tbody>
            </v-table>

            <v-footer border
              ><div class="text-lowercase">
                <tbody v-for="item of orderStore.orders" :key="item.id">
                  <tr v-for="items of orderItemStore.orderItem" :key="items.id">
                    <!-- <td>เลขที่ใบเสร็จ : {{ items.order?.date }}</td>
                    <td>ᅟᅟᅟᅟ</td>
                    <td>วันที่ออกใบเสร็จ : {{ items.order?.time }}</td>
                    <td></td> -->
                  </tr>
                </tbody>
              </div></v-footer
            >

            <v-card-actions class="justify-end">
              <v-btn color="red" variant="text" @click="isActive.value = false"
                >Close</v-btn
              >
            </v-card-actions>
          </v-card>
        </template>
      </v-dialog>
    </v-col></v-row
  >
</template>
