<script setup lang="ts">
import { useOrderStore } from "@/stores/orderCopy";
// import type Order from "@/types/Order";
import { mdiTable, mdiCardOutline, mdiChevronRight } from "@mdi/js";
import { onMounted } from "vue";
import PurchaseList from "./PurchaseList.vue";
import PurchaseCardList from "./PurchaseCardList.vue";
const orderStore = useOrderStore();

// const deleteOrder = (index: number): void => {
//   orderStore.deleteOrder(index);
// };

// const editOrder = (order: Order) => {
//   orderStore.editOrder(order);
// };

onMounted(async () => {
  await orderStore.getOrders();
});
</script>

<template>
  <div>
    <!-- <v-btn
      class="ma-4"
      color="brown"
      :prepend-icon="mdiChevronRight"
      value="order_item"
      to="/order_item"
      >Reciept Detail</v-btn
    > -->
    <v-row class="justify-center">
      <!-- <v-btn
        :icon="mdiCardOutline"
        flat
        @click="orderStore.isTable = true"
      ></v-btn> -->
      <!-- <v-btn :icon="mdiTable" flat @click="orderStore.isTable = false"></v-btn> -->
    </v-row>
  </div>
  <v-container></v-container>
  <v-container style="height: 90vh; overflow: auto" fluid>
    <v-row>
      <PurchaseCardList v-if="orderStore.isTable"></PurchaseCardList>
      <!-- <PurchaseList v-if="!orderStore.isTable"></PurchaseList> -->
    </v-row>
  </v-container>
</template>

<style scoped></style>
