<script setup lang="ts">
import { useOrderStore } from "@/stores/orderCopy";
// import type Order from "@/types/Order";
import { mdiDelete } from "@mdi/js";
import { onMounted } from "vue";
import PurchaseDialog from "./PurchaseDialog.vue";

const orderStore = useOrderStore();

// const deleteOrder = (index: number): void => {
//   orderStore.deleteOrder(index);
// };

// const editOrder = (order: Order) => {
//   orderStore.editOrder(order);
// };

onMounted(async () => {
  await orderStore.getOrders();
});
</script>

<template>
  <!-- <div><OrderDialog /></div> -->
  <v-container>
    <v-row>
      <v-col clos="12">
        <v-table>
          <thead style="background-color: #ad9472">
            <tr>
              <th>ID</th>
              <th>Queue</th>
              <!-- <th>Discount</th> -->
              <th>Amount</th>
              <th>Total</th>
              <th>Received</th>
              <th>Change</th>
              <th>Payment</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="item of orderStore.orders"
              :key="item.id"
              style="background-color: #e9e3d0"
            >
              <td>{{ item.id }}</td>
              <td>{{ item.queue }}</td>
              <!-- <td>{{ item.discount }}</td> -->
              <td>{{ item.amount }}</td>
              <td>{{ item.total }}</td>
              <td>{{ item.received }}</td>
              <td>{{ item.change }}</td>
              <td>{{ item.payment }}</td>

              <td>
                <v-btn
                  :icon="mdiDelete"
                  color="red-lighten-3"
                  class="ma-1"
                  @click="orderStore.deleteOrder(item.id!)"
                ></v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
