<script setup lang="ts">
// import { mdiCursorDefaultClickOutline } from "@mdi/js";
// import { useMenuStore } from "@/stores/menu";
import { ref } from "vue";
import { useOrderStore } from "@/stores/orderCopy";

const orderStore = useOrderStore();
// const menuStore = useMenuStore();
const newcash = ref(0);
</script>
<template>
  <v-row justify="center">
    <v-dialog v-model="orderStore.dialog" persistent width="1024">
      <template v-slot:activator="{ props }">
        <v-btn
          variant="flat"
          color="#9CB995"
          class="font-weight-black -ma-5"
          v-bind="props"
          >⠀⠀⠀เงินสด⠀⠀⠀
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="text-h5">Cash</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  label="Enter amount received*"
                  v-model="newcash"
                  required
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="6"> </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red-lighten-1"
            class="ma-1"
            variant="text"
            @click="orderStore.dialog = false"
          >
            Close
          </v-btn>
          <v-btn
            color="green-lighten-1"
            class="ma-1"
            variant="text"
            @click="orderStore.savecash(newcash)"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
