<script setup lang="ts">
import { mdiRobotExcitedOutline } from "@mdi/js";
import { useOrderStore } from "@/stores/orderCopy";

const orderStore = useOrderStore();
</script>
<template>
  <v-row justify="space-around">
    <v-col cols="auto">
      <v-dialog transition="dialog-top-transition" width="500">
        <template v-slot:activator="{ props }">
          <v-btn
            class="font-weight-black"
            variant="text"
            v-bind="props"
            @click="orderStore.openOrder()"
            >ยืนยันรายการสินค้า
          </v-btn>
        </template>
        <template v-slot:default="{ isActive }">
          <v-card width="500">
            <v-card-text></v-card-text>
            <!-- <v-icon
              class="pa-4 text-center mx-auto"
              color="success"
              :icon="mdiRobotExcitedOutline"
              size="150"
            ></v-icon> -->
            <v-row justify="space-around"
              ><v-avatar></v-avatar
              ><v-avatar size="120">
                <v-img
                  class="mx-auto"
                  src="https://media.discordapp.net/attachments/1054391933381918743/1093564403410014369/image.png?width=395&height=393"
                >
                </v-img> </v-avatar
              ><v-avatar></v-avatar>
            </v-row>
            <v-card-text></v-card-text>
            <v-card pa-4 text-center mx-auto>
              <v-card-text class="text-center text-h5 mb-3"
                >ยืนยันรายการคำสั่งซื้อสินค้าสำเร็จ
              </v-card-text>

              <v-card-text class="text-center text-h5 mb-3">
                Successful Order Confirmation
              </v-card-text>
            </v-card>
            <v-card-text
              ><v-table
                fixed-header
                height="500px"
                style="background-color: #ad9472"
              >
                <thead>
                  <tr>
                    <th>ชื่อสินค้า</th>
                    <th></th>
                    <th>ราคา</th>
                    <th></th>
                    <th>จำนวน</th>
                    <th></th>
                    <th>ราคารวม</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody fixed-header height="800px">
                  <tr
                    v-for="(item, index) of orderStore.orderList"
                    :key="index"
                  >
                    <td>
                      {{ item.name }}
                    </td>
                    <th></th>
                    <td>{{ item.price }}</td>
                    <th></th>
                    <td>
                      {{ item.amount }}
                    </td>
                    <th></th>
                    <td>{{ item.sum }}</td>
                    <td></td>
                  </tr>
                  <tr></tr>
                </tbody>
              </v-table>
            </v-card-text>
            <v-card-actions class="justify-end">
              <v-btn
                color="green-lighten-1"
                class="ma-1"
                variant="text"
                @click="isActive.value = false"
                >Done</v-btn
              >
            </v-card-actions>
          </v-card>
        </template>
      </v-dialog>
    </v-col>
  </v-row>
</template>
