<script setup lang="ts">
// import { mdiCursorDefaultClickOutline } from "@mdi/js";
import { useMenuStore } from "@/stores/menu";
import { ref } from "vue";
const menuStore = useMenuStore();
const newdiscount = ref(0);
</script>
<template>
  <v-row justify="center">
    <v-dialog v-model="menuStore.dialog2" persistent width="1024">
      <!-- <template v-slot:activator="{ props }">
        <v-btn
          variant="flat"
          color="red-lighten-2"
          class="font-weight-black"
          v-bind="props"
          >ส่วนลด %
        </v-btn>
      </template> -->
      <v-card>
        <v-card-title>
          <span class="text-h5">Discount</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  label="Enter Discount*"
                  v-model="newdiscount"
                  required
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="6"> </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="menuStore.dialog2 = false"
          >
            Close
          </v-btn>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="menuStore.savecash(newdiscount)"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
