<script setup lang="ts">
import { useCustomerStore } from "@/stores/customer";
import { mdiAccountCircle } from "@mdi/js";
import { onMounted } from "vue";

// const sendDataToLocalhost = () => {
//   const tel = customerStore.editedCustomer.tel;
//   localStorage.setItem("customer", JSON.stringify(tel));
// };
const customerStore = useCustomerStore();
const clear = () => {
  customerStore.dialog1 = false;
  customerStore.nameCus = "";
  customerStore.telCus = 0;
  customerStore.pointCus = "";
};
onMounted(async () => {
  await customerStore.getProCustomers();
});
</script>
<template>
  <v-row justify="space-around">
    <v-col cols="auto">
      <v-dialog
        transition="dialog-top-transition"
        width="auto"
        v-model="customerStore.dialog1"
      >
        <template v-slot:activator="{ props }">
          <v-btn color="green-lighten-1" variant="text" v-bind="props"
            >next
          </v-btn>
        </template>
        <template v-slot:default="{ isActive }">
          <v-card>
            <v-card-text pa-4 text-center mx-auto>
              <div class="text-h5 mb-6">⠀⠀⠀⠀⠀⠀MEMBER</div>
            </v-card-text>
            <v-icon
              class="pa-4 text-center mx-auto"
              color="success"
              :icon="mdiAccountCircle"
              size="175"
            ></v-icon>
            <v-container>
              <v-row>
                <v-col clos="12" style="font-size: larger">
                  <v-table>
                    <thead>
                      <tr>
                        <th>⠀⠀Name⠀⠀</th>
                        <th>⠀⠀Tel⠀⠀</th>
                        <th>⠀⠀Point⠀⠀</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ customerStore.nameCus }}</td>
                        <td>{{ customerStore.telCus }}</td>
                        <td>{{ customerStore.pointCus }}</td>
                      </tr>
                    </tbody>
                  </v-table>
                </v-col>
              </v-row>
            </v-container>
            <v-card-actions class="justify-end">
              <v-btn
                color="red-lighten-1"
                class="ma-1"
                variant="text"
                @click="isActive.value = false"
                >Back</v-btn
              >
              <v-btn
                color="green-lighten-1"
                class="ma-1"
                variant="text"
                @click="clear"
                >Done</v-btn
              >
            </v-card-actions>
          </v-card>
        </template>
      </v-dialog>
    </v-col>
  </v-row>
</template>
