<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import { mdiDelete } from "@mdi/js";
import { useMenuStore } from "@/stores/menu";
// import { useEmployeeStore } from "@/stores/employee";

const menuStore = useMenuStore();
const userStore = useUserStore();
// const employeeStore = useEmployeeStore();
</script>

<template>
  <v-container>
    <v-row>
      <v-col class="mx-auto">
        <v-hover v-slot="{ isHovering, props }" disabled>
          <v-card
            :elevation="isHovering ? 12 : 2"
            height="auto"
            width="420"
            v-bind="props"
          >
            <v-card-text class="my-4 text-center text-h4">
              รายการสินค้า
            </v-card-text>
            <v-divider class="mx-4 mb-1"></v-divider>

            <v-table>
              <thead>
                <tr>
                  <th class="text-left">ชื่อสินค้า</th>
                  <th></th>
                  <th class="text-left">จำนวน</th>
                  <th></th>
                  <th class="text-left">ราคา</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
            </v-table>

            <v-container>
              <v-card height="335">
                <v-table height="335">
                  <thead>
                    <tr
                      v-for="(item, index) of menuStore.orderList"
                      :key="index"
                    >
                      <th class="text-left">{{ item.name }}</th>
                      <th>
                        <v-btn
                          variant="plain"
                          size="x-small"
                          @click="menuStore.dec(item)"
                          >-</v-btn
                        >
                      </th>
                      <th class="text-left">{{ item.qty }}</th>
                      <th>
                        <v-btn
                          variant="plain"
                          size="x-small"
                          @click="menuStore.inc(item)"
                          >+</v-btn
                        >
                      </th>
                      <th class="text-left">{{ item.price }}</th>
                      <th>
                        <v-btn
                          color="black"
                          :icon="mdiDelete"
                          size="x-small"
                          @click="menuStore.deleteorderlist(item)"
                        ></v-btn>
                      </th>
                    </tr>
                  </thead>
                </v-table>
              </v-card>
            </v-container>
            <div class="pa-2">
              <div
                class="d-flex justify-space-around align-center flex-column flex-md-row fill-height"
              >
                <!-- <v-btn color="#9CB995" class="font-weight-black">
                  {{ menuStore.totalPrice }}
                </v-btn> -->
              </div>
            </div>
            <tr>
              <th class="text-left">ᅟราคารวม :</th>
              <th class="text-right">
                ᅟᅟᅟᅟᅟᅟᅟᅟᅟᅟᅟᅟ{{ menuStore.totalPrice }}
              </th>
            </tr>
            <!-- <tr>
              <th class="text-left">ᅟส่วนลด :</th>
              <th class="text-right">
                ᅟᅟᅟᅟᅟᅟᅟᅟᅟᅟᅟᅟ{{ menuStore.discountest }}
              </th>
            </tr> -->
            <tr>
              <th class="text-left">ᅟจำนวนเงินที่ได้รับ :</th>
              <th class="text-right">
                ᅟᅟᅟᅟᅟᅟᅟᅟᅟᅟᅟᅟ{{ menuStore.cash }}
              </th>
            </tr>
            <tr>
              <th class="text-left">ᅟจำนวนเงินทอน :</th>
              <th class="text-right">
                ᅟᅟᅟᅟᅟᅟᅟᅟᅟᅟᅟᅟ{{ menuStore.change }}
              </th>
            </tr>
            <v-divider class="mx-4 mb-1"></v-divider>

            <v-card-actions>
              <v-footer class="bg-grey-lighten">
                <v-table> </v-table>
                <v-btn variant="flat" color="#9CB995" class="font-weight-black">
                  <CashPayDialog />
                </v-btn>
                <v-btn variant="flat" color="#9CB995" class="font-weight-black">
                  <TestPayDialog />
                </v-btn>
                <v-btn variant="flat" color="red" class="font-weight-white">
                  ส่วนลด %
                </v-btn>
                <v-btn
                  variant="flat"
                  color="grey"
                  class="font-weight-white"
                  @click="userStore.dialog1"
                >
                  สมาชิก
                </v-btn>
              </v-footer>
            </v-card-actions>
          </v-card>
        </v-hover>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
