<script setup lang="ts">
import { onMounted, ref } from "vue";
import { useMenuStore } from "@/stores/menu";
import { useProductStore } from "@/stores/product";
import { useCategoryStore } from "@/stores/category";
const menuStore = useMenuStore();
const tab = ref("one");
const productStore = useProductStore();
const categoryStore = useCategoryStore();
onMounted(async () => {
  await categoryStore.getCategorys();
  await productStore.getProducts;
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="12" offset="3" class="mx-auto">
        <v-card height="auto" width="100%">
          <v-tabs
            v-model="productStore.category"
            bg-color="#725136"
            height="50px"
          >
            <v-tab
              v-for="item of categoryStore.category"
              :value="item.id"
              :key="item.id"
              color="#FFFFFF"
              >{{ item.name }}</v-tab
            >
          </v-tabs>

          <v-card style="background: #ad9472" height="570">
            <v-window v-model="tab">
              <v-window-item value="one">
                <v-container style="height: 75vh; overflow: auto" fluid>
                  <v-row>
                    <v-col
                      v-for="(item, index) of menuStore.drinks"
                      :key="index"
                      cols="3"
                    >
                      <v-table style="background: #ad9472">
                        <thead>
                          <th>
                            <v-card
                              style="background: #e9e3d0"
                              height="180"
                              width="180"
                            >
                              <v-card-title
                                class="text-center text-#493423"
                                style="font-size: small"
                              >
                                {{ item.name }} {{ item.price }}.-
                              </v-card-title>
                              <v-btn
                                height="180px"
                                width="180"
                                @click="menuStore.add(item)"
                                ><v-img
                                  :src="item.img"
                                  width="250"
                                  height="180px"
                                  class="justify-center"
                                ></v-img>
                              </v-btn>
                            </v-card>
                          </th>
                        </thead>
                      </v-table>
                    </v-col>
                  </v-row>
                </v-container>
              </v-window-item>

              <v-window-item value="two">
                <v-container style="height: 75vh; overflow: auto" fluid>
                  <v-row>
                    <v-col
                      v-for="(item, index) of menuStore.sweets"
                      :key="index"
                      cols="3"
                    >
                      <v-table style="background: #ad9472">
                        <thead>
                          <th>
                            <v-card
                              style="background: #e9e3d0"
                              height="180"
                              width="180"
                            >
                              <v-card-title
                                class="text-center text-#493423"
                                style="font-size: small"
                              >
                                {{ item.name }} {{ item.price }}.-
                              </v-card-title>
                              <v-btn
                                height="180px"
                                width="180"
                                @click="menuStore.add(item)"
                                ><v-img
                                  :src="item.img"
                                  width="250"
                                  height="180px"
                                  class="justify-center"
                                ></v-img>
                              </v-btn>
                            </v-card>
                          </th>
                        </thead>
                      </v-table>
                    </v-col>
                  </v-row>
                </v-container>
              </v-window-item>

              <v-window-item value="three">
                <v-container style="height: 75vh; overflow: auto" fluid>
                  <v-row>
                    <v-col
                      v-for="(item, index) of menuStore.foods"
                      :key="index"
                      cols="3"
                    >
                      <v-table style="background: #ad9472">
                        <thead>
                          <th>
                            <v-card
                              style="background: #e9e3d0"
                              height="180"
                              width="180"
                            >
                              <v-card-title
                                class="text-center text-#493423"
                                style="font-size: small"
                              >
                                {{ item.name }} {{ item.price }}.-
                              </v-card-title>
                              <v-btn
                                height="180px"
                                width="180"
                                @click="menuStore.add(item)"
                                ><v-img
                                  :src="item.img"
                                  width="250"
                                  height="180px"
                                  class="justify-center"
                                ></v-img>
                              </v-btn>
                            </v-card>
                          </th>
                        </thead>
                      </v-table>
                    </v-col>
                  </v-row>
                </v-container>
              </v-window-item>
            </v-window>
          </v-card>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
