<script setup lang="ts">
import {} from "vue";
import MenuDrink from "@/components/menu/MenuDrink.vue";
import MenuListorder from "@/components/menu/MenuListorder.vue";
</script>

<template>
  <v-container color="#E9E3D0">
    <v-navigation-drawer permanent width="450" height="500" color="#E9E3D0">
      <MenuListorder />
    </v-navigation-drawer>

    <MenuDrink />
  </v-container>
</template>
