<script setup lang="ts">
import { useCustomerStore } from "@/stores/customer";
const customerStore = useCustomerStore();

const clear = () => {
  customerStore.dialog = false;
  customerStore.clearCustomer();
};
</script>
<template>
  <v-row justify="center">
    <v-dialog v-model="customerStore.dialog" persistent width="1024">
      <template v-slot:activator="{ props }">
        <v-btn color="blue-darken-1" variant="text" v-bind="props"
          >⠀⠀สมัครสมาชิก⠀⠀
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="text-h5">สมัครสมาชิก</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="4" md="4">
                <v-text-field
                  label="Name"
                  v-model="customerStore.editedCustomer.name"
                  :rules="[
                    (v) => !!v || 'Name จะต้องไม่เป็นช่องว่าง',
                    (v) =>
                      v.length >= 2 ||
                      'Name จะต้องมีขนาดมากกว่าหรือเท่ากับ 2 ตัวอักษร',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="4" md="4">
                <v-text-field
                  label="Tel"
                  v-model="customerStore.editedCustomer.tel"
                  :rules="[
                    (v) => !!v || 'Tel จะต้องไม่เป็นช่องว่าง',
                    (v) =>
                      v.length == 10 || 'Tel จะต้องมีขนาดเท่ากับ 10 ตัวอักษร',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="4" md="4">
                <v-text-field
                  label="Point"
                  v-model="customerStore.editedCustomer.point"
                  :rules="[
                    (v) => !!v || 'Point จะต้องไม่เป็นช่องว่าง',
                    (v) =>
                      v.length >= 2 ||
                      'Point จะต้องมีขนาดมากกว่าหรือเท่ากับ 2 ตัวอักษร',
                  ]"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red-lighten-1"
            class="ma-1"
            variant="text"
            @click="clear"
          >
            ⠀⠀Close⠀⠀
          </v-btn>
          <v-btn
            color="green-lighten-1"
            class="ma-1"
            variant="text"
            @click="customerStore.saveCustomer"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
