<script setup lang="ts">
import { useCustomerStore } from "@/stores/customer";
import NewmemberDialog from "./NewmemberDialog.vue";
import { mdiPencil } from "@mdi/js";
import { onMounted, ref } from "vue";
const customerStore = useCustomerStore();
const tel = ref();

const clear = () => {
  customerStore.dialog2 = false;
  customerStore.clearMember();
  tel.value = "";
};
onMounted(async () => {
  await customerStore.getProCustomers();
});
</script>
<template>
  <v-row justify="center">
    <v-dialog v-model="customerStore.dialog2" persistent width="1024">
      <template v-slot:activator="{ props }">
        <v-btn
          variant="flat"
          color="#9CB995"
          class="font-weight-black -ma-5"
          v-bind="props"
          >⠀⠀⠀สมาชิก⠀⠀⠀
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="text-h5">สมาชิก</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col>
                <v-text-field
                  label="Tel"
                  v-model="tel"
                  :rules="[
                    (v) => !!v || 'Tel จะต้องไม่เป็นช่องว่าง',
                    (v) =>
                      v.length == 10 || 'Tel จะต้องมีขนาดเท่ากับ 10 ตัวอักษร',
                  ]"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>

          <v-btn
            color="green-lighten-1"
            class="ma-1"
            variant="text"
            @click="customerStore.chekCus(tel)"
            >next
          </v-btn>
        </v-card-text>
        <tr v-for="item of customerStore.customers" :key="item.id">
          {{
            customerStore.addcus(item)
          }}
        </tr>
        <v-table>
          <thead>
            <tr>
              <th></th>
              <th>Id</th>
              <th>Name</th>
              <th>Tel</th>
              <th>Point</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of customerStore.member" :key="item.id">
              <td></td>
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.tel }}</td>
              <td>{{ item.point }}</td>
              <v-btn
                :icon="mdiPencil"
                color="green-lighten-3"
                class="ma-1"
                @click="customerStore.editCustomer(item)"
              ></v-btn>
            </tr>
          </tbody>
        </v-table>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text">
            <NewmemberDialog />
          </v-btn>
          <v-btn
            color="red-lighten-1"
            class="ma-1"
            variant="text"
            @click="clear"
          >
            Close
          </v-btn>
          <!-- <v-btn
            color="green-lighten-1"
            class="ma-1"
            variant="text"
            @click="customerStore.chekCus(tel)"
            >next
          </v-btn> -->
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
