<script setup lang="ts">
import { useOrderStore } from "@/stores/orderCopy";
const orderStore = useOrderStore();
</script>
<template>
  <div class="text-center">
    <v-dialog v-model="orderStore.dialog1" width="auto">
      <template v-slot:activator="{ props }">
        <v-btn
          variant="flat"
          color="#9CB995"
          class="font-weight-black -ma-5"
          v-bind="props"
        >
          ⠀⠀เงินโอน⠀⠀
        </v-btn>
      </template>

      <v-card class="mx-auto my-12" max-width="374">
        <v-img
          src="qr3.jpg"
          width="500"
          height="500px"
          class="justify-center"
        ></v-img>

        <v-card-actions>
          <v-btn color="clack" block @click="orderStore.close">Close </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
