<script setup lang="ts">
import { mdiCursorDefaultClickOutline } from "@mdi/js";
import { useStockStore } from "@/stores/stock";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import CheckDialog from "@/components/check_stock/CheckDialog.vue";
const stockStore = useStockStore();

const form = ref<InstanceType<typeof VForm> | null>(null);

async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await stockStore.saveStock();
  }
}
const addNewStock = () => {
  stockStore.dialog = true;
};

const clear = () => {
  stockStore.dialog = false;
  stockStore.clear();
};
</script>

<template>
  <v-container>
    <v-row>
      <v-dialog v-model="stockStore.dialog" persistent>
        <template v-slot:activator="{ props }">
          <v-row>
            <v-col cols="12" offset="10"> <CheckDialog /> </v-col
            ><v-col cols="12" offset="10">
              <v-btn
                color="brown"
                v-bind="props"
                :prepend-icon="mdiCursorDefaultClickOutline"
                @click="addNewStock"
              >
                Add New Materials
              </v-btn>
            </v-col>
          </v-row>
        </template>
        <v-card class="mx-auto px-6 py-8" max-width="1000">
          <v-card-title>
            <span class="text-h5">ADD NEW MATERIALS</span>
          </v-card-title>
          <v-card-text>
            <v-form ref="form">
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      label="Name*"
                      v-model="stockStore.editedStocks.name"
                      :rules="[
                        (v) => !!v || 'Name จะต้องไม่เป็นช่องว่าง',
                        (v) =>
                          v.length >= 2 ||
                          'Name จะต้องมีขนาดมากกว่าหรือเท่ากับ 2 ตัวอักษร',
                      ]"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      label="MinQuantity*"
                      v-model="stockStore.editedStocks.min_qty"
                      :rules="[
                        (v) => !!v || 'Min Quantity จะต้องไม่เป็นช่องว่าง',
                      ]"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      label="Quantity*"
                      v-model="stockStore.editedStocks.qty"
                      :rules="[(v) => !!v || 'Quantity จะต้องไม่เป็นช่องว่าง']"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      label="Unit*"
                      v-model="stockStore.editedStocks.unit"
                      :rules="[
                        (v) => !!v || 'Unit จะต้องไม่เป็นช่องว่าง',
                        (v) =>
                          v.length >= 3 ||
                          'Unit จะต้องมีขนาดมากกว่าหรือเท่ากับ 3 ตัวอักษร',
                      ]"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      label="Price_per_unit*"
                      hint="ราคาต่อหน่วย"
                      persistent-hint
                      v-model="stockStore.editedStocks.price_per_unit"
                      :rules="[
                        (v) => !!v || 'price_per_unit จะต้องไม่เป็นช่องว่าง',
                      ]"
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="red-lighten-1"
              class="ma-1"
              variant="text"
              @click="clear"
            >
              Close
            </v-btn>
            <v-btn
              color="green-lighten-1"
              class="ma-1"
              variant="text"
              @click="save"
            >
              Save
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-container>
</template>
