<script setup lang="ts">
import StockDialog from "./StockDialog.vue";
import { useStockStore } from "@/stores/stock";
import { mdiDelete, mdiPencil } from "@mdi/js";
import { onMounted } from "vue";
const stockStore = useStockStore();

onMounted(async () => {
  await stockStore.getStocks();
});
</script>

<template>
  <div><StockDialog></StockDialog></div>
  <v-container>
    <v-row>
      <v-col clos="12">
        <v-table style="height: 80vh; overflow: auto" fluid>
          <thead style="background-color: #ad9472">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Min Quantity</th>
              <th>Quantity</th>
              <th>Unit</th>
              <th>Price_per_unit</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="item of stockStore.stocks"
              :key="item.id"
              style="background-color: #e9e3d0"
            >
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>ᅟᅟ{{ item.min_qty }}</td>
              <td>ᅟ{{ item.qty }}</td>
              <td>{{ item.unit }}</td>
              <td>ᅟᅟ{{ item.price_per_unit }}</td>
              <td>
                <v-btn
                  :icon="mdiPencil"
                  color="green-lighten-3"
                  class="ma-1"
                  @click="stockStore.editStock(item)"
                ></v-btn
                ><v-btn
                  :icon="mdiDelete"
                  color="red-lighten-3"
                  class="ma-1"
                  @click="stockStore.deleteStock(item.id!)"
                ></v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
