<script setup lang="ts">
import { useCustomerStore } from "@/stores/customer";
// import type Customer from "@/types/Customer";
import { mdiDelete, mdiPencil } from "@mdi/js";
import { onMounted } from "vue";
import CustomerDialog from "./CustomerDialog.vue";
const customerStore = useCustomerStore();

onMounted(async () => {
  await customerStore.getProCustomers();
});
</script>

<template>
  <div><CustomerDialog /></div>
  <v-container>
    <v-row>
      <v-col clos="12">
        <v-table style="height: 80vh; overflow: auto" fluid>
          <thead style="background-color: #ad9472">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Tel</th>
              <th>Point</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="item of customerStore.customers"
              :key="item.id"
              style="background-color: #e9e3d0"
            >
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.tel }}</td>
              <td>{{ item.point }}</td>
              <td>
                <v-btn
                  :icon="mdiPencil"
                  color="green-lighten-3"
                  class="ma-1"
                  @click="customerStore.editCustomer(item)"
                ></v-btn
                ><v-btn
                  :icon="mdiDelete"
                  color="red-lighten-3"
                  class="ma-1"
                  @click="customerStore.deleteCustomer(item.id!)"
                ></v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
