<script setup lang="ts">
import { onMounted } from "vue";
import { mdiDelete, mdiPencil } from "@mdi/js";
import { mdiArrowLeft } from "@mdi/js";
import { useProductStore } from "@/stores/product";
import ProductDialog from "@/components/product/ProductDialog.vue";

const productStore = useProductStore();

onMounted(() => {
  productStore.getViewProducts3();
});
</script>

<template>
  <v-container>
    <v-btn
      :prepend-icon="mdiArrowLeft"
      value="products-page"
      to="/products-page"
      size="10%"
      variant="flat"
      ><h3>เมนูทั้งหมด</h3></v-btn
    >
    <div><ProductDialog /></div>
    <v-table>
      <v-row>
        <v-col clos="12">
          <v-table>
            <thead style="background-color: #ad9472">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Image</th>
                <th>Type</th>
                <th>Size</th>
                <th>Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="item of productStore.products"
                :key="item.id"
                style="background-color: #e9e3d0"
              >
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>
                  <v-img
                    :src="`http://localhost:3000/products/image/${item.image}`"
                    height="128px"
                  ></v-img>
                </td>
                <td>{{ item.type }}</td>
                <td>{{ item.size }}</td>
                <td>{{ item.price }}</td>
                <td>
                  <v-btn
                    :icon="mdiPencil"
                    color="green-lighten-3"
                    class="ma-1"
                    @click="productStore.editProduct(item)"
                  ></v-btn
                  ><v-btn
                    :icon="mdiDelete"
                    color="red-lighten-3"
                    class="ma-1"
                    @click="productStore.deleteProduct(item.id!)"
                  ></v-btn>
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
    </v-table>
  </v-container>
</template>
