<script setup lang="ts">
import { ref } from "vue";
import { mdiPlusCircle, mdiMinusCircle } from "@mdi/js";
import { useOrderStore } from "@/stores/orderCopy";

const orderStore = useOrderStore();

const menu = ref(false);
</script>
<template>
  <v-card class="mx-auto" width="650">
    <v-row align="center" class="pa-6">
      <v-menu
        v-model="menu"
        location="top start"
        origin="top start"
        transition="scale-transition"
      >
        <template v-slot:activator="{ props }">
          <v-table>
            <tbody>
              <td>
                <v-chip pill v-bind="props" link class="ma-2" size="x-large">
                  <v-avatar start>
                    <v-btn :icon="mdiPlusCircle" color="#ad9472"></v-btn>
                  </v-avatar>

                  Topping
                </v-chip>
              </td>
              <td></td>
              <td></td>
            </tbody>
          </v-table>
        </template>

        <v-card width="300">
          <v-list>
            <v-list-item>
              <template v-slot:prepend> </template>

              <v-list-item-title> Topping</v-list-item-title>

              <template v-slot:append>
                <v-list-item-action>
                  <v-btn icon variant="text" @click="menu = false">
                    <v-icon color="red">mdi-close-circle</v-icon>
                  </v-btn>
                </v-list-item-action>
              </template>
            </v-list-item>
          </v-list>

          <v-list v-for="(item, index) of orderStore.topping" :key="index">
            <v-list-item link prepend-icon="mdi-briefcase">
              <v-list-item-subtitle @click="orderStore.addTopping(item)">{{
                item.name
              }}</v-list-item-subtitle>
            </v-list-item>
          </v-list>
        </v-card>
      </v-menu>
    </v-row>

    <v-divider></v-divider>

    <div class="pa-3">
      <v-container>
        <v-table height="">
          <!-- <thead>
            <tr>
              <th>เพิ่มท็อปปิ้ง</th>
            </tr>
          </thead>

          <v-card height="100px" class="scroll">
            <tbody height="50">
              <tr v-for="(item, index) of chipStore.toppingList" :key="index">
                <td>
                  {{ item.name }}
                </td>
                ᅟᅟᅟᅟᅟᅟᅟ
                <td>
                  <v-btn
                    @click="chipStore.deletetop(index)"
                    :icon="mdiMinusCircle"
                    size="x-small"
                    color="red"
                    class="ma-1"
                  >
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </v-card>
=======
          <tbody> -->
          <tr v-for="(item, index) of orderStore.toppingList" :key="index">
            <td>
              {{ item.name }}
            </td>
            ᅟᅟᅟᅟᅟᅟᅟ
            <td>
              <v-btn
                @click="orderStore.deletetop(index)"
                :icon="mdiMinusCircle"
                size="x-small"
                color="red"
                class="ma-1"
              >
              </v-btn>
            </td>
          </tr>
          <!-- </tbody> -->
        </v-table>
      </v-container>
    </div>
  </v-card>
</template>
