<script setup lang="ts">
// import { mdiPencil } from "@mdi/js";
import ChipsTest from "./ChipsTest.vue";
import ChipsSize from "./ChipsSize.vue";
import ChipsType from "./ChipsType.vue";
import ChipsTopping from "./ChipsTopping.vue";
import { useOrderStore } from "@/stores/orderCopy";

const orderStore = useOrderStore();

const clear = () => {
  orderStore.dialogChips = false;
  orderStore.clear();
};
</script>
<template>
  <div class="text-center">
    <v-dialog v-model="orderStore.dialogChips" width="auto">
      <template v-slot:activator="{ props }">
        <!-- <v-btn color="#9CB995" v-bind="props" :icon="mdiPencil"> </v-btn> -->
        <v-btn
          color="#ad9472"
          v-bind="props"
          v-model="orderStore.dialogChips"
          variant="plain"
        >
        </v-btn>
      </template>

      <v-card align="center" justify="center">
        <v-card-text style="background-color: #ad9472"
          ><h1>{{ orderStore.drinkname }}</h1></v-card-text
        >
        <ChipsTest /><ChipsSize /><ChipsType /><ChipsTopping />
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red" variant="text" @click="clear"> Close </v-btn>
          <v-btn color="green" variant="text" @click="orderStore.saveDrink">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
