<script setup lang="ts">
import { useProductStore } from "@/stores/product";

import { computed, onMounted, ref } from "vue";
import type Product from "@/types/Product";
import { mdiDelete, mdiBasketPlusOutline, mdiMagnify } from "@mdi/js";
// import { useOrderStore } from "@/stores/order";
import { useOrderStore } from "@/stores/orderCopy";
import { useCategoryStore } from "@/stores/category";
import CashPayDialog from "@/components/menu/CashPayDialog.vue";
import TestPayDialog from "@/components/menu/TestPayDialog.vue";
// import DiscountDialog from "@/components/menu/DiscountDialog.vue";
import NumberDialog from "@/components/menu/NumberDialog.vue";
import ConfirmDialog from "@/components/menu/ConfirmDialog.vue";
import { useProductPageStore } from "@/stores/product-page";

import DialogEdit from "./DialogEdit.vue";
const categoryStore = useCategoryStore();
const productStore = useProductStore();
const orderStore = useOrderStore();

const productPageStore = useProductPageStore();
onMounted(() => {
  productPageStore.getProducts();
});

// const getNameAddon = () => {
//   for (let i = 0; i < chipStore.addOndrink.length; i++) {

//   }
// };

onMounted(async () => {
  await categoryStore.getCategorys();
  await productStore.getProductsByCategory(productStore.category);
});
</script>
<template>
  <v-container>
    <v-row>
      <v-col style="background-color: #e9e3d0" height="40">
        <v-card height="70%" width="700">
          <v-card-text
            class="my-4 text-center text-h4"
            style="background-color: white"
          >
            รายการสินค้า
          </v-card-text>

          <v-table fixed-header height="500px">
            <thead>
              <tr>
                <th>ชื่อสินค้า</th>
                <th></th>
                <th>ราคา</th>
                <th></th>
                <th>จำนวน</th>
                <th></th>
                <th>ราคารวม</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) of orderStore.orderList" :key="index">
                <td>
                  {{ item.name }}
                </td>

                <td>{{ item.price }}</td>
                <td>
                  <v-btn variant="text" @click="orderStore.dec(item)">-</v-btn>
                </td>
                <td>
                  {{ item.amount }}
                </td>
                <td>
                  <v-btn variant="text" @click="orderStore.inc(item)">+</v-btn>
                </td>
                <td>{{ item.sum }}</td>
                <td>
                  <v-btn
                    @click="orderStore.deleteProduct(index)"
                    :icon="mdiDelete"
                    size="x-small"
                    color="black"
                    class="ma-1"
                  >
                  </v-btn>
                </td>
              </tr>
              <tr></tr>
            </tbody>
          </v-table>
        </v-card>

        <v-card style="text-align: center" width="700">
          <div>จำนวนรวม {{ orderStore.sumAmount }}</div>
          <div>ราคารวม {{ orderStore.sumPrice }} บาท</div>
          <div>โปรโมชั่น : {{ orderStore.promotion }}</div>
          <div>ยอดสุทธิ {{ orderStore.newsum }} บาท</div>
          <div>รับเงินมา {{ orderStore.cash }} บาท</div>
          <div>เงินทอน {{ orderStore.change }} บาท</div>

          <div class="fill-height">
            <v-btn @click="orderStore.openOrder()" color="#9CB995"
              ><ConfirmDialog></ConfirmDialog
            ></v-btn>
          </div>

          <v-card-actions>
            <v-footer>
              ᅟᅟᅟᅟᅟᅟᅟᅟ
              <v-btn
                variant="flat"
                color="#9CB995"
                class="font-weight-black-ma-5"
              >
                <CashPayDialog />
              </v-btn>
              <v-btn
                variant="flat"
                color="#9CB995"
                class="font-weight-black -ma-5"
              >
                <TestPayDialog />
              </v-btn>

              <v-btn
                variant="flat"
                color="#9CB995"
                class="font-weight-black -ma-5"
              >
                <NumberDialog />
              </v-btn>
            </v-footer>
          </v-card-actions>
        </v-card>
      </v-col>

      <v-col>
        <v-card width="1040">
          <v-tabs
            v-model="productStore.category"
            bg-color="#725136"
            height="50px"
          >
            <v-tab
              v-for="item of categoryStore.category"
              :value="item.id"
              :key="item.id"
              color="#FFFFFF"
              >{{ item.name }}</v-tab
            >
            <!-- <v-text-field
              v-model="productPageStore.keyword"
              placeholder="Search name ...."
              :append-inner-icon="mdiMagnify"
              bg-color="#ad9472"
              clearable
            ></v-text-field> -->
          </v-tabs>
          <v-card
            style="height: 80vh; overflow: auto; background: #ad9472"
            fluid
          >
            <v-row>
              <v-col
                v-for="item of productStore.products"
                :key="item.id"
                cols="3"
              >
                <v-card width="200" height="260" style="margin-left: 10%">
                  <v-card-item style="background-color: #e9e3d0">
                    <v-card-title>{{ item.name }}</v-card-title>

                    <v-card-subtitle>{{ item.category?.name }}</v-card-subtitle>
                    <v-card-subtitle>{{ item.price }} บาท</v-card-subtitle>
                  </v-card-item>

                  <v-card-text
                    ><v-img
                      :src="`http://localhost:3000/products/image/${item.image}`"
                      height="170px"
                      ><v-btn
                        @click="orderStore.addProduct(item)"
                        :icon="mdiBasketPlusOutline"
                        color="#9CB995"
                      ></v-btn>
                    </v-img>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
            <DialogEdit />
          </v-card>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
