<script setup lang="ts">
// import { ref } from "vue";
import {
  mdiFaceWomanShimmerOutline,
  mdiCartVariant,
  mdiFolderAccountOutline,
  mdiPackageVariantClosed,
  mdiStoreOutline,
  mdiGoogleStreetView,
  mdiCoffeeOutline,
  mdiHomeCircleOutline,
  mdiClockCheckOutline,
  mdiClipboardTextClockOutline,
} from "@mdi/js";

// import { useThemeStore } from "@/stores/theme";
</script>

<template>
  <v-navigation-drawer expand-on-hover rail permanent>
    <v-list bg-color="#725136">
      <v-list-item
        prepend-avatar="https://i.pinimg.com/originals/82/0e/3f/820e3ff746d061477c8ff08a7c319b6a.jpg"
        title="about menu"
        subtitle="admin@gmail.com"
        class="text-white"
      ></v-list-item>
    </v-list>

    <v-divider></v-divider>

    <v-list density="compact" nav color="#725136">
      <v-list-item
        :prepend-icon="mdiHomeCircleOutline"
        title="HOME"
        value="HomeView"
      ></v-list-item>

      <v-list-item
        :prepend-icon="mdiCoffeeOutline"
        title="Graph"
        value="graph"
      ></v-list-item>

      <v-list-item
        :prepend-icon="mdiFolderAccountOutline"
        title="USERS"
        value="users"
      ></v-list-item>

      <v-list-item
        :prepend-icon="mdiCartVariant"
        title="MENUS"
        value="starred"
      ></v-list-item>

      <v-list-item
        :prepend-icon="mdiCoffeeOutline"
        title="PRODUCTS"
        value="products"
      ></v-list-item>

      <v-list-item
        :prepend-icon="mdiFaceWomanShimmerOutline"
        title="CUSTOMERS"
        value="customer"
      ></v-list-item>

      <v-list-item
        :prepend-icon="mdiGoogleStreetView"
        title="EMPLOYEES"
        value="employees"
      ></v-list-item>

      <v-list-item
        :prepend-icon="mdiPackageVariantClosed"
        title="MATERIALS"
        value="stock"
      ></v-list-item>

      <v-list-item
        :prepend-icon="mdiStoreOutline"
        title="STORES"
        value="store"
      ></v-list-item>

      <v-list-item
        :prepend-icon="mdiClockCheckOutline"
        title="TIMEWORK"
        value="timework"
      ></v-list-item>

      <v-list-item
        :prepend-icon="mdiClipboardTextClockOutline"
        title="PURCHASEHISTORY"
        value="purchase_history"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>
