<script setup lang="ts">
// import { ref } from "vue";
import {
  mdiCartVariant,
  mdiFolderAccountOutline,
  mdiLogout,
  mdiPackageVariantClosed,
  mdiStoreOutline,
  mdiCoffeeOutline,
  mdiHomeCircleOutline,
  mdiClockCheckOutline,
  mdiClipboardTextClockOutline,
  mdiFaceWomanShimmer,
  mdiFaceAgent,
  mdiFinance,
} from "@mdi/js";
import { useAuthStore } from "@/stores/auth";

const authStore = useAuthStore();
const user = JSON.parse(localStorage.getItem("user") || "{}");
// const employee = JSON.parse(localStorage.getItem("employee") || "{}");
</script>

<template>
  <v-navigation-drawer expand-on-hover rail permanent>
    <v-list bg-color="#725136">
      <v-list-item
        :prepend-avatar="`http://localhost:3000/employees/image/${user.employee.image}`"
        :title="user.login"
        :subtitle="user.employee.position"
        class="text-white"
      ></v-list-item>
    </v-list>

    <v-divider></v-divider>

    <v-list density="compact" nav color="#725136">
      <v-list-item
        :prepend-icon="mdiHomeCircleOutline"
        title="HOME"
        value="HomeView"
        to="/"
      ></v-list-item>

      <v-list-item
        :prepend-icon="mdiFinance"
        title="GRAPH"
        value="graph"
        to="/graph"
      ></v-list-item>

      <v-list-item
        :prepend-icon="mdiFolderAccountOutline"
        title="USERS"
        value="users"
        to="/user"
      ></v-list-item>

      <!-- <v-list-item
        :prepend-icon="mdiCartVariant"
        title="MENUS"
        value="starred"
        to="/starred"
      ></v-list-item> -->

      <v-list-item
        :prepend-icon="mdiCartVariant"
        title="MENUS"
        value="pos"
        to="/pos"
      ></v-list-item>

      <v-list-item
        :prepend-icon="mdiCoffeeOutline"
        title="PRODUCTS"
        value="products"
        to="/products-page"
      ></v-list-item>

      <v-list-item
        :prepend-icon="mdiFaceWomanShimmer"
        title="CUSTOMERS"
        value="customer"
        to="/customer"
      ></v-list-item>

      <v-list-item
        :prepend-icon="mdiFaceAgent"
        title="EMPLOYEES"
        value="employees"
        to="/employees"
      ></v-list-item>

      <v-list-item
        :prepend-icon="mdiPackageVariantClosed"
        title="MATERIALS"
        value="stock"
        to="/stock"
      ></v-list-item>

      <v-list-item
        :prepend-icon="mdiStoreOutline"
        title="STORES"
        value="store"
        to="/store"
      ></v-list-item>

      <v-list-item
        :prepend-icon="mdiClockCheckOutline"
        title="TIMEWORK"
        value="timework"
        to="/timework"
      ></v-list-item>

      <v-list-item
        :prepend-icon="mdiClipboardTextClockOutline"
        title="PURCHAESHISTORY"
        value="purchase_history"
        to="/purchase_history"
      ></v-list-item>
    </v-list>

    <template v-slot:append>
      <v-list density="compact" nav
        ><v-list-item
          :prepend-icon="mdiLogout"
          title="LOGOUT"
          value="logout"
          to="/login"
          @click="authStore.logout"
        ></v-list-item
      ></v-list>
    </template>
  </v-navigation-drawer>
</template>
