<script setup lang="ts">
import { mdiCursorDefaultClickOutline } from "@mdi/js";
import { useStockStore } from "@/stores/stock";

import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { onMounted } from "vue";

const stockStore = useStockStore();

// const user = JSON.parse(localStorage.getItem("user") || "{}");

const form = ref<InstanceType<typeof VForm> | null>(null);

// async function save() {
//   const { valid } = await form.value!.validate();
//   if (valid) {
//     await stockStore.saveStock();
//     stockStore.dialog1 = false;
//   }
// }

const clear = () => {
  stockStore.dialog1 = false;
  stockStore.clear();
};
onMounted(async () => {
  await stockStore.getStocks();
});
</script>

<template>
  <v-container>
    <v-row>
      <v-dialog v-model="stockStore.dialog1" persistent>
        <template v-slot:activator="{ props }">
          <v-row>
            <v-col>
              <v-btn
                color="brown"
                v-bind="props"
                :prepend-icon="mdiCursorDefaultClickOutline"
              >
                Check Materials
              </v-btn>
            </v-col>
          </v-row>
        </template>
        <v-card>
          <v-card-title>
            <span class="text-h5">UPDATE MATERIALS IN STOCK</span>
          </v-card-title>
          <v-card-text>
            <v-form ref="form">
              <v-container>
                <v-row>
                  <v-col clos="12">
                    <v-table>
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th>Min Quantity</th>
                          <th>Quantity</th>
                          <th>Unit</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="item of stockStore.stocks" :key="item.id">
                          <td>{{ item.id }}</td>
                          <td>{{ item.name }}</td>
                          <td>{{ item.min_qty }}</td>
                          <td>{{ item.qty }}</td>
                          <td>{{ item.unit }}</td>
                          <td>
                            <v-text-field
                              label="UpdateQuantity*"
                              v-model="item.qty"
                              :rules="[
                                (v) => !!v || 'Quantity จะต้องไม่เป็นช่องว่าง',
                              ]"
                              required
                            ></v-text-field>
                          </td>
                        </tr>
                      </tbody>
                    </v-table>
                  </v-col>
                </v-row>
                <v-row>
                  <!-- <v-col cols="3" offset="9"
                    ><v-combobox
                      label="Employee"
                      :items="[user.name]"
                    ></v-combobox>
                  </v-col> -->
                </v-row>
              </v-container>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="red-lighten-1"
              class="ma-1"
              variant="text"
              @click="clear"
            >
              Close
            </v-btn>
            <v-btn
              color="green-lighten-1"
              class="ma-1"
              variant="text"
              @click="stockStore.saveStock"
            >
              Save
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-container>
</template>
