<script setup lang="ts">
import { mdiNoteCheckOutline } from "@mdi/js";
import CheckDialog from "./CheckDialog.vue";
</script>

<template>
  <div><CheckDialog /></div>
  <v-row>
    <v-col cols="6" offset="5"><h1>รายการ</h1> </v-col>
  </v-row>
  <v-row>
    <v-col cols="9" offset="2">
      <v-table style="height: 80vh; overflow: auto" fluid>
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>19/03/2023</td>
            <td>08:01 pm.</td>
            <td>นางสาวแมว สีสวาด</td>
            <td>
              <v-btn
                :icon="mdiNoteCheckOutline"
                color="green"
                class="ma-1"
              ></v-btn>
            </td>
          </tr></tbody></v-table
    ></v-col>
  </v-row>
</template>
