<script setup lang="ts">
import { mdiCursorDefaultClickOutline, mdiMagnify } from "@mdi/js";
import { useProductStore } from "@/stores/product";
import { useCategoryStore } from "@/stores/category";

import { onMounted } from "vue";
import { useProductPageStore } from "@/stores/product-page";

const productStore = useProductStore();
const categoryStore = useCategoryStore();
const productPageStore = useProductPageStore();

const clear = () => {
  productStore.dialog = false;
  productStore.clearProduct();
};
onMounted(async () => {
  await categoryStore.getCategorys();
  productPageStore.getProducts();
});
</script>
<template>
  <v-row justify="center">
    <v-dialog v-model="productStore.dialog" persistent width="1024">
      <template v-slot:activator="{ props }">
        <v-container>
          <v-row>
            <v-col cols="3"></v-col>
            <v-col cols="3"></v-col>
            <v-col cols="3" md="2" offset="2">
              <v-text-field
                v-model="productPageStore.keyword"
                placeholder="Search name ...."
                :append-inner-icon="mdiMagnify"
                bg-color="#ad9472"
                clearable
              ></v-text-field>
            </v-col>
            <v-col cols="3" md="2">
              <v-btn
                color="brown"
                v-bind="props"
                :prepend-icon="mdiCursorDefaultClickOutline"
                @click="productStore.dialog = true"
              >
                Add New Product
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </template>
      <v-card class="mx-auto px-6 py-8" width="600">
        <v-card-title>
          <span class="text-h5">Product Profile</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Name"
                  v-model="productStore.editedProduct.name"
                  :rules="[
                    (v) => !!v || 'Name จะต้องไม่เป็นช่องว่าง',
                    (v) =>
                      v.length >= 2 ||
                      'Name จะต้องมีขนาดมากกว่าหรือเท่ากับ 2 ตัวอักษร',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Type"
                  v-model="productStore.editedProduct.type"
                  :rules="[
                    (v) => !!v || 'Type จะต้องไม่เป็นช่องว่าง',
                    (v) =>
                      v.length >= 2 ||
                      'Type จะต้องมีขนาดมากกว่าหรือเท่ากับ 2 ตัวอักษร',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Size"
                  v-model="productStore.editedProduct.size"
                  :rules="[
                    (v) => !!v || 'Size จะต้องไม่เป็นช่องว่าง',
                    (v) =>
                      v.length >= 2 ||
                      'Size จะต้องมีขนาดมากกว่าหรือเท่ากับ 2 ตัวอักษร',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Price"
                  v-model="productStore.editedProduct.price"
                  :rules="[(v) => !!v || 'Price จะต้องไม่เป็นช่องว่าง']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="CategoryId"
                  v-model="productStore.editedProduct.categoryId"
                  :rules="[(v) => !!v || 'CategoryId จะต้องไม่เป็นช่องว่าง']"
                ></v-text-field>
              </v-col>
              <!-- <v-col cols="12"
                ><template>
                  <v-select
                    v-model="productStore.editedProduct.categoryId"
                    :items="categoryStore.category"
                    item-title="name"
                    item-value="id"
                    label="Select"
                    single-line
                  ></v-select> </template
              ></v-col> -->

              <v-col cols="12">
                <v-file-input
                  v-model="productStore.editedProduct.files"
                  accept="image/*"
                  label="Image Input"
                ></v-file-input>
              </v-col>
            </v-row>
          </v-container>

          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red-lighten-1"
            class="ma-1"
            variant="text"
            @click="clear"
          >
            Close
          </v-btn>
          <v-btn
            color="green-lighten-1"
            class="ma-1"
            variant="text"
            @click="productStore.saveProduct()"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
