<script setup lang="ts">
import { useCategoryStore } from "@/stores/category";
import { useProductStore } from "@/stores/product";
import { mdiDelete, mdiPencil } from "@mdi/js";
import { onMounted } from "vue";
import { useProductPageStore } from "@/stores/product-page";
// import ConfirmDialog from "../menu/ConfirmDialog.vue";
import ProductDialog from "./ProductDialog.vue";
const productStore = useProductStore();
const categoryStore = useCategoryStore();

const productPageStore = useProductPageStore();

const backendURL = import.meta.env.VITE_BACKEND_URL;
onMounted(async () => {
  // await productStore.getProducts();
  await categoryStore.getCategorys();
  productPageStore.getProducts();
});
</script>

<template>
  <div class="justify-lg-end"><ProductDialog /></div>

  <v-container>
    <v-row>
      <v-col clos="12">
        <v-tabs
          v-model="productStore.category"
          bg-color="#ad9472"
          height="50px"
        >
          <v-tab
            v-for="item of categoryStore.category"
            :value="item.id"
            :key="item.id"
            color="#FFFFFF"
            >{{ item.name }}</v-tab
          >
        </v-tabs>
        <v-table>
          <thead style="background-color: #ad9472">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Image</th>
              <th>Type</th>
              <th>Size</th>
              <th>Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="item of productStore.products"
              :key="item.id"
              style="background-color: #e9e3d0"
            >
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>
                <v-img
                  :src="`${backendURL}/products/${item.id}/image`"
                  height="auto"
                  width="100"
                ></v-img>
                <!-- <v-img
                  :prepend-avatar="`http://localhost:3000/products/image/${item.image}`"
                ></v-img> -->
              </td>
              <td>{{ item.type }}</td>
              <td>{{ item.size }}</td>
              <td>{{ item.price }}</td>
              <td>
                <v-btn
                  :icon="mdiPencil"
                  color="green-lighten-3"
                  class="ma-1"
                  @click="productStore.editProduct(item)"
                ></v-btn
                ><v-btn
                  :icon="mdiDelete"
                  color="red-lighten-3"
                  class="ma-1"
                  @click="productStore.deleteProduct(item.id!)"
                ></v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
