<script setup lang="ts">
import { useProductPageStore } from "@/stores/product-page";
import { onMounted } from "vue";
import { mdiDelete, mdiPencil } from "@mdi/js";
// import { useCategoryStore } from "@/stores/category";
import { useProductStore } from "@/stores/product";
import ProductDialog from "@/components/product/ProductDialog.vue";

const productStore = useProductStore();
// const categoryStore = useCategoryStore();

const productPageStore = useProductPageStore();
onMounted(() => {
  productPageStore.getProducts();
});
</script>

<template>
  <v-container>
    <div><ProductDialog /></div>
    <v-btn color="brown" class="ma-1" value="viewDrink" to="/viewDrink">
      เมนูเครื่องดื่ม
    </v-btn>
    <v-btn color="brown" class="ma-1" value="viewSweet" to="/viewSweet">
      เมนูของหวาน
    </v-btn>
    <v-btn color="brown" class="ma-1" value="viewFood" to="/viewFood">
      เมนูอาหาร
    </v-btn>
    <v-table>
      <v-row>
        <v-col clos="12">
          <v-table style="height: 80vh; overflow: auto" fluid>
            <thead style="background-color: #ad9472">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Image</th>
                <th>Type</th>
                <th>Size</th>
                <th>Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="item of productPageStore.products"
                :key="item.id"
                style="background-color: #e9e3d0"
              >
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>
                  <v-img
                    :src="`http://localhost:3000/products/image/${item.image}`"
                    height="128px"
                  ></v-img>
                </td>
                <td>{{ item.type }}</td>
                <td>{{ item.size }}</td>
                <td>{{ item.price }}</td>
                <td>
                  <v-btn
                    :icon="mdiPencil"
                    color="green-lighten-3"
                    class="ma-1"
                    @click="productStore.editProduct(item)"
                  ></v-btn
                  ><v-btn
                    :icon="mdiDelete"
                    color="red-lighten-3"
                    class="ma-1"
                    @click="productStore.deleteProduct(item.id!)"
                  ></v-btn>
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
    </v-table>
  </v-container>
</template>
