<script lang="ts" setup>
import Graph2Show from "@/components/graph/Graph2Show.vue";
import GraphShow from "@/components/graph/GraphShow.vue";
import GraphDialog from "@/components/graph/GraphDialog.vue";
import {
  mdiCursorDefaultClickOutline,
  mdiCheckBold,
  mdiChevronRight,
} from "@mdi/js";
import GraphDialog2 from "@/components/graph/GraphDialog2.vue";
</script>
<template>
  <v-container style="background-color: #e9e3d0">
    <v-row>
      <v-col
        ><v-card width="850">
          <GraphShow></GraphShow>
        </v-card>
      </v-col>
      <v-col>
        <v-card width="850">
          <Graph2Show></Graph2Show>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col><GraphDialog></GraphDialog></v-col
      ><v-col><GraphDialog2></GraphDialog2></v-col
    ></v-row>
    <v-row></v-row>
    <v-row></v-row>
    <v-row></v-row>
    <v-row>
      <v-col cols="12" ma="5" style="background-color: #e9e3d0">
        <v-avatar />
        <v-avatar />
        <v-avatar />
        <v-avatar />
        <v-avatar />
        <v-avatar />
        <v-avatar />
        <v-avatar />
        <v-avatar />
        <v-avatar />
        <v-avatar />
        <v-avatar />
        <v-avatar />
        <v-avatar />
        <v-avatar />
        <v-avatar />
        <v-avatar />
        <v-avatar />
        <v-avatar size="250">
          <v-img
            class="mx-auto justify-center"
            src="https://media.discordapp.net/attachments/1054391933381918743/1093564403410014369/image.png?width=395&height=393"
          >
          </v-img>
        </v-avatar>
      </v-col>
      <v-col></v-col>
      <v-col></v-col>
      <v-col></v-col>
      <v-col></v-col>
    </v-row>
  </v-container>
</template>
