<script setup lang="ts">
import { mdiClockEditOutline, mdiClockIn } from "@mdi/js";
import { useTime } from "@/stores/time";
import { onMounted, ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const timeStore = useTime();
// async function save() {
//   const { valid } = await form.value!.validate();
//   if (valid) {
//     await timeStore.saveTime();
//   }
// }

const clear = () => {
  timeStore.dialog = false;
  timeStore.clearTime();
};

onMounted(async () => {
  timeStore.getTimes();
});
</script>
<template>
  <v-container>
    <v-row>
      <v-dialog v-model="timeStore.dialog" persistent width="1024">
        <template v-slot:activator="{ props }">
          <v-col clos="12">
            <v-btn
              color="green-lighten-1"
              :prepend-icon="mdiClockEditOutline"
              v-bind="props"
              @click="timeStore.dialog = true"
            >
              Check In
            </v-btn>
          </v-col>
        </template>
        <v-card class="mx-auto px-6 py-8" width="600">
          <v-card-title>
            <v-icon
              class="pa-4 text-center mx-auto"
              color="green-lighten-1"
              :icon="mdiClockIn"
              size="80"
            ></v-icon>
            <span class="text-h5">Check In - Check Out</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field
                    label="Date*"
                    :rules="[
                      (v) => !!v || 'Date จะต้องไม่เป็นช่องว่าง',
                      (v) => v.length >= 6 || 'Date จะต้องมีลักษณะ YYYYMMDD',
                    ]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                    label="Time_in*"
                    :rules="[
                      (v) => !!v || 'Time_in จะต้องไม่เป็นช่องว่าง',
                      (v) => v.length >= 6 || 'Time_in จะต้องมีลักษณะ hhmmss',
                    ]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                    label="Time_out*"
                    :rules="[
                      (v) => !!v || 'Time_out จะต้องไม่เป็นช่องว่าง',
                      (v) => v.length >= 6 || 'Time_out จะต้องมีลักษณะ hhmmss',
                    ]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                    label="Total_hour*"
                    :rules="[
                      (v) => !!v || 'Total_hour จะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 1 || 'Total_hour จะต้องไม่เป็นช่องว่าง',
                    ]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                    label="employeeId*"
                    :rules="[
                      (v) => !!v || 'employeeId จะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 1 || 'employeeId จะต้องไม่เป็นช่องว่าง',
                    ]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                    label="salaryId*"
                    :rules="[
                      (v) => !!v || 'salaryId จะต้องไม่เป็นช่องว่าง',
                      (v) => v.length >= 1 || 'salaryId จะต้องไม่เป็นช่องว่าง',
                    ]"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="red-lighten-1"
              class="ma-1"
              variant="text"
              @click="clear"
            >
              Close
            </v-btn>
            <v-btn
              color="green-lighten-1"
              class="ma-1"
              variant="text"
              @click="timeStore.saveTime()"
            >
              Save
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-container>
</template>
