<script setup lang="ts">
import { useTime } from "@/stores/time";
// import type Times from "@/types/Empolyees";
import {
  mdiReceiptTextCheckOutline,
  mdiDelete,
  mdiPencil,
  mdiClockEditOutline,
} from "@mdi/js";
import { onMounted } from "vue";
// import TimeDialogOne from "./TimeDialogOne.vue";
import TimeDialogTwoVue from "./TimeDialogTwo.vue";
import { useEmployeeStore } from "@/stores/employee";
const timeStore = useTime();
const employeeStore = useEmployeeStore();

onMounted(async () => {
  await timeStore.getTimes();
  await employeeStore.getEmployees();
});
</script>

<template>
  <v-container>
    <v-row justify="center">
      <v-col clos="12">
        <v-dialog persistent height="1200px" width="1000px">
          <template v-slot:activator="{ props }">
            <v-container></v-container>
            <v-btn
              :prepend-icon="mdiReceiptTextCheckOutline"
              color="green-lighten-3"
              class="ma-1"
              v-bind="props"
              stacked
              >CHECK TIME</v-btn
            >
          </template>
          <template v-slot:default="{ isActive }">
            <v-card>
              <div><TimeDialogTwoVue /></div>
              <v-card-title>
                <span
                  class="d-flex justify-center"
                  color="#ad9472"
                  align="center"
                  >CHECK TIME</span
                >
              </v-card-title>
              <v-card-text>
                <v-form ref="form">
                  <v-container>
                    <v-row>
                      <v-col clos="12">
                        <v-table>
                          <thead style="background-color: #e9e3d0">
                            <tr>
                              <th>ID</th>
                              <th>Date</th>
                              <th>Time_in</th>
                              <th>Time_out</th>
                              <th>Total_hour</th>
                              <th>employeeId</th>
                              <th>salaryId</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              v-for="item of timeStore.times"
                              :key="item.cio_id"
                            >
                              <td>{{ item.cio_id }}</td>
                              <td>{{ item.cio_date }}</td>
                              <td>{{ item.cio_time_in }}</td>
                              <td>{{ item.cio_time_out }}</td>
                              <td>ᅟᅟ{{ item.cio_total_hour }}</td>
                              <td>ᅟᅟ{{ item.employeeId }}</td>
                              <td>ᅟᅟ{{ item.salaryId }}</td>
                              <td>
                                <v-btn
                                  :prepend-icon="mdiClockEditOutline"
                                  color="red-lighten-1"
                                  class="ma-1"
                                  @click="timeStore.editTime(item)"
                                  >Check Out</v-btn
                                ><v-btn
                                  :icon="mdiDelete"
                                  color="red-lighten-3"
                                  class="ma-1"
                                  @click="timeStore.deleteTime(item.cio_id!)"
                                ></v-btn>
                              </td>
                            </tr>
                          </tbody>
                        </v-table>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
              </v-card-text>
              <v-card-actions class="justify-end">
                <v-spacer></v-spacer>
                <v-btn
                  color="red"
                  variant="text"
                  @click="isActive.value = false"
                  >Close</v-btn
                >
              </v-card-actions>
            </v-card>
          </template>
        </v-dialog>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
