<script setup lang="ts">
import { mdiClockEditOutline, mdiClockOut } from "@mdi/js";
import { useCustomerStore } from "@/stores/customer";
import { ref } from "vue";
import { useTime } from "@/stores/time";
const customerStore = useCustomerStore();
const timeStore = useTime();
const dialog = ref(false);

const clear = () => {
  customerStore.dialog = false;
  customerStore.clearCustomer();
};
</script>
<template>
  <v-container>
    <v-row>
      <v-dialog v-model="dialog" persistent width="1024">
        <v-btn
          color="red-lighten-1"
          :prepend-icon="mdiClockEditOutline"
          @click="timeStore.editTime"
        >
          Check In
        </v-btn>
      </v-dialog>
    </v-row>
  </v-container>
</template>
