<script setup lang="ts">
import { useTime } from "@/stores/time";
// import type Times from "@/types/Empolyees";
import { mdiClockCheckOutline, mdiClockEditOutline } from "@mdi/js";
import { onMounted } from "vue";
import TimeDialogOne from "./TimeDialogOne.vue";
import TimeDialogTwoVue from "./TimeDialogTwo.vue";
import TimeDialogCheckTime from "./TimeDialogCheckTime.vue";
import { useEmployeeStore } from "@/stores/employee";
// import HeaderTime from "../header/HeaderTime.vue";
const timeStore = useTime();
const employeeStore = useEmployeeStore();

// const deleteTime = (index: number): void => {
//   timeStore.deleteTime(index);
// };

// const editTime = (time: Times) => {
//   timeStore.editTime(time);
// };

const now = new Date();

onMounted(async () => {
  await timeStore.getTimes();
  await employeeStore.getEmployees();
});
</script>

<template>
  <thead>
    <tr>
      <TimeDialogCheckTime />
    </tr>
  </thead>

  <v-container>
    <v-row>
      <v-col clos="12">
        <v-table style="height: 80vh; overflow: auto" fluid>
          <thead style="background-color: #ad9472">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Image</th>
              <th>House_no</th>
              <th>Village_no</th>
              <th>Sub_district</th>
              <th>District</th>
              <th>Province</th>
              <th>Email</th>
              <th>Tel</th>
              <th>Position</th>
              <th></th>
              <th>Hourly_wage</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="item of employeeStore.employees"
              :key="item.id"
              style="background-color: #e9e3d0"
            >
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>
                <v-img
                  :src="`http://localhost:3000/employees/image/${item.image}`"
                  height="auto"
                  width="100"
                ></v-img>
              </td>
              <td>{{ item.house_no }}</td>
              <td>ᅟᅟ{{ item.village_no }}</td>
              <td>{{ item.sub_district }}</td>
              <td>{{ item.district }}</td>
              <td>{{ item.province }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.tel }}</td>
              <td>{{ item.position }}</td>
              <td></td>
              <td>ᅟᅟ{{ item.hourly_wage }}</td>

              <!-- <td> -->
              <!-- <v-btn
                  color="green-lighten-3"
                  class="ma-1"
                  @click="timeStore.TimestampcheckIn()"
                >
                  Check In
                </v-btn> -->
              <!-- </td> -->

              <!-- <td> -->
              <!-- <v-btn
                  color="red-lighten-3"
                  class="ma-1"
                  @click="timeStore.TimestampcheckOut()"
                >
                  Check Out
                </v-btn> -->
              <!-- <TimeDialogOne /> -->
              <!-- </td> -->
            </tr>
            <tr></tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
