<script setup lang="ts">
import { mdiWeatherSunny, mdiWeatherNight } from "@mdi/js";
import { useThemeStore } from "@/stores/theme";
const themeStore = useThemeStore();
const theme = themeStore.theme;

const onClick = () => {
  themeStore.changeTheme();
};
</script>
<template>
  <v-app-bar color="#AD9472">
    <v-avatar
      image="https://media.discordapp.net/attachments/1054391933381918743/1061924883145166888/image.png"
      size="66"
    ></v-avatar>
    <h1 class="text-white">ข้อมูลพนักงาน</h1>
    <v-spacer></v-spacer>
    <v-list style="background-color: #ad9472"> </v-list>

    <v-btn
      :prepend-icon="
        theme === themeStore.theme ? mdiWeatherSunny : mdiWeatherNight
      "
      @click="onClick"
    ></v-btn>
  </v-app-bar>
</template>
