<script setup lang="ts">
import {
  mdiFaceWomanShimmerOutline,
  mdiCartVariant,
  mdiFolderAccountOutline,
  mdiLogout,
  mdiPackageVariantClosed,
  mdiStoreOutline,
  mdiGoogleStreetView,
  mdiCoffeeOutline,
  mdiClockCheckOutline,
  mdiClipboardTextClockOutline,
  mdiFinance,
} from "@mdi/js";
import { useAuthStore } from "@/stores/auth";
const authStore = useAuthStore();
</script>

<template>
  <v-col style="height: max-content">
    <v-table>
      <tr>
        <th class="pa-16" style="background-color: #e9e3d0">
          <tr>
            <th class="pa-8" style="background-color: #e9e3d0"></th>
          </tr>
          <v-btn
            height="180px"
            width="250"
            color="white"
            class="ma-1"
            :prepend-icon="mdiFinance"
            stacked
            size="x-large"
            value="graph"
            to="/graph"
            >GRAPH</v-btn
          >
          <v-btn
            height="180px"
            width="250"
            color="white"
            class="ma-1"
            :prepend-icon="mdiFolderAccountOutline"
            stacked
            size="x-large"
            value="users"
            to="/user"
            >USERS
          </v-btn>
          <v-btn
            height="180px"
            width="250"
            color="white"
            class="ma-1"
            :prepend-icon="mdiCartVariant"
            stacked
            size="x-large"
            value="pos"
            to="/pos"
            >MENUS</v-btn
          >
          <v-btn
            height="180px"
            width="250"
            color="white"
            class="ma-1"
            :prepend-icon="mdiCoffeeOutline"
            stacked
            size="x-large"
            value="products"
            to="/products-page"
            >PRODUCTS</v-btn
          >
          <v-btn
            height="180px"
            width="250"
            color="white"
            class="ma-1"
            :prepend-icon="mdiFaceWomanShimmerOutline"
            stacked
            size="x-large"
            value="customer"
            to="/customer"
            >CUSTOMERS</v-btn
          >
          <v-btn
            height="180px"
            width="250"
            color="white"
            class="ma-1"
            :prepend-icon="mdiGoogleStreetView"
            stacked
            size="x-large"
            value="employees"
            to="/employees"
            >EMPLOYEES</v-btn
          >
        </th>
      </tr>
      <tr>
        <th style="background-color: #e9e3d0">
          <v-avatar size="300">
            <v-img
              class="mx-auto"
              src="https://media.discordapp.net/attachments/1054391933381918743/1093564403410014369/image.png?width=395&height=393"
            >
            </v-img>
          </v-avatar>
        </th>
        <th></th>
      </tr>
      <tr>
        <th class="pa-12" style="background-color: #e9e3d0">
          <v-btn
            height="180px"
            width="250"
            color="white"
            class="ma-1"
            :prepend-icon="mdiPackageVariantClosed"
            stacked
            size="x-large"
            value="stock"
            to="/stock"
            >MATERIALS</v-btn
          >
          <v-btn
            height="180px"
            width="250"
            color="white"
            class="ma-1"
            :prepend-icon="mdiStoreOutline"
            stacked
            size="x-large"
            value="store"
            to="/store"
            >STORES</v-btn
          >
          <v-btn
            height="180px"
            width="250"
            color="white"
            class="ma-1"
            :prepend-icon="mdiClockCheckOutline"
            stacked
            size="x-large"
            value="timework"
            to="/timework"
            >TIMEWORK</v-btn
          >
          <v-btn
            height="180px"
            width="250"
            color="white"
            class="ma-1"
            :prepend-icon="mdiClipboardTextClockOutline"
            stacked
            size="x-large"
            value="purchase_history"
            to="/purchase_history"
            >PURCHAESHISTORY</v-btn
          >
          <v-btn
            height="180px"
            width="250"
            color="#ad9472"
            class="ma-1"
            :prepend-icon="mdiLogout"
            stacked
            size="x-large"
            value="logout"
            to="/login"
            @click="authStore.logout"
            >LOGOUT</v-btn
          >
        </th>
      </tr>
      <tr>
        <th class="pa-8" style="background-color: #e9e3d0"></th>
      </tr>
      <tr>
        <th class="pa-3" style="background-color: #e9e3d0"></th>
      </tr>
    </v-table>
  </v-col>
</template>
