<script setup lang="ts">
import { useOrderItemStore } from "@/stores/orderItem";
import { mdiDelete, mdiCalendarCheck } from "@mdi/js";
import { onMounted } from "vue";
const orderItemStore = useOrderItemStore();

onMounted(async () => {
  await orderItemStore.getOrderItems();
});
</script>

<template>
  <!-- <div><OrderDialog /></div> -->
  <v-container>
    <v-row>
      <v-col clos="12" class="ma-4">
        <v-card
          height="1000px"
          width="500px"
          style="background-color: #ad9472"
          v-for="item of orderItemStore.orderItem"
          :key="item.id"
        >
          <v-card-title
            ><tbody>
              <tr v-for="item of orderItemStore.orderItem" :key="item.id">
                <td>
                  <v-icon
                    class="pa-4 text-center mx-auto"
                    color="black"
                    :icon="mdiCalendarCheck"
                    size="70"
                  ></v-icon
                  >ID : {{ item.id }}
                </td>
              </tr>
            </tbody>
          </v-card-title>
          <v-card-text
            style="background-color: #e9e3d0"
            class="pa-2 text-center mx-auto"
          ></v-card-text>
          <v-card-text style="background-color: white"></v-card-text>
          <v-card-text style="background-color: white"
            >ชื่อสินค้า : {{ item.name }}</v-card-text
          >
          <v-card-text style="background-color: white"
            >ส่วนลด : {{ item.discount }} บาท</v-card-text
          >
          <v-card-text style="background-color: white"
            >ราคา : {{ item.total }} บาท</v-card-text
          >
          <v-card-text style="background-color: white"
            >จำนวนสินค้า : {{ item.amount }} รายการ</v-card-text
          >

          <v-card-text style="background-color: white"
            >ราคารวม : {{ item.total }} บาท</v-card-text
          >
          <v-card-actions
            class="justify-center"
            style="background-color: #e9e3d0"
          >
            <v-btn
              color="green-lighten-3"
              @click="orderItemStore.editOrderItem"
            >
            </v-btn>

            <v-btn
              :icon="mdiDelete"
              color="red-lighten-3"
              class="ma-1"
              @click="orderItemStore.deleteOrderItem(item.id!)"
            ></v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
