<script setup lang="ts">
import { useOrderItemStore } from "@/stores/orderItem";
import {
  mdiTable,
  mdiCardOutline,
  mdiChevronRight,
  mdiChevronLeft,
} from "@mdi/js";
import OrderItemList from "./orderItemList.vue";
import OrderItemCardList from "./orderItemCardList.vue";

const orderItemStore = useOrderItemStore();
</script>

<template>
  <v-btn
    justify-end
    class="ma-4"
    color="brown"
    :prepend-icon="mdiChevronLeft"
    value="purchase_history"
    to="/purchase_history"
    >Back Reciept</v-btn
  >
  <v-container>
    <v-row>
      <OrderItemList v-if="orderItemStore.isTable"></OrderItemList>
      <OrderItemCardList
        OrderItemCardList
        v-if="!orderItemStore.isTable"
      ></OrderItemCardList>
    </v-row>
    <v-row class="justify-center">
      <v-btn
        :icon="mdiTable"
        flat
        @click="orderItemStore.isTable = true"
      ></v-btn>
      <v-btn
        :icon="mdiCardOutline"
        flat
        @click="orderItemStore.isTable = false"
      ></v-btn>
    </v-row>
  </v-container>
</template>

<style scoped></style>
