<script setup lang="ts">
import { useOrderItemStore } from "@/stores/orderItem";
import { mdiDelete, mdiPencil } from "@mdi/js";
import { onMounted } from "vue";
import { useOrderStore } from "@/stores/orderCopy";
const orderItemStore = useOrderItemStore();
const orderStore = useOrderStore();
onMounted(async () => {
  await orderStore.getOrders();
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col clos="12">
        <v-table fluid height="800px" style="background-color: #ad9472">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <!-- <th>Discount</th> -->
              <th>Price</th>
              <th>Amount</th>
              <th>Total</th>
              <!-- <th>Reciept</th> -->
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="item of orderStore.orderList"
              :key="item.id"
              style="background-color: #e9e3d0"
            >
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <!-- <td>ᅟ{{ item.discount }}</td> -->
              <td>ᅟ{{ item.price }}</td>
              <td>ᅟ{{ item.amount }}</td>
              <td>{{ item.sum }}</td>
              <!-- <td>ᅟ{{ item.order?.id }}</td> -->
              <td>
                <!-- <v-btn
                  :icon="mdiPencil"
                  color="green-lighten-3"
                  class="ma-1"
                  @click="orderItemStore.editOrderItem(item)"
                >
                </v-btn> -->
                <!-- <v-btn
                  :icon="mdiDelete"
                  color="red-lighten-3"
                  class="ma-1"
                  @click="orderItemStore.deleteOrderItem(item.id!)"
                ></v-btn> -->
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
