<script setup lang="ts">
import { useEmployeeStore } from "@/stores/employee";
// import type Employees from "@/types/Empolyees";
import { mdiDelete, mdiPencil } from "@mdi/js";
import { onMounted } from "vue";
import EmployeesDialog from "./EmployeesDialog.vue";
// import ConfirmDialog from "../menu/ConfirmDialog.vue";
import { useUserStore } from "@/stores/user";

// import HeaderEmployee from "../header/HeaderEmployee.vue";
const employeeStore = useEmployeeStore();
const uesrStore = useUserStore();
// const deleteEmployee = (index: number): void => {
//   employeeStore.deleteEmployee(index);
// };

// const editEmployee = (employee: Employees) => {
//   employeeStore.editEmployee(employee);
// };
// const confirmDlg = ref();
// const backendURL = import.meta.env.VITE_BACKEND_URL;
onMounted(async () => {
  await employeeStore.getEmployees();
});
</script>

<template>
  <div><EmployeesDialog /></div>
  <v-container>
    <v-row>
      <v-col clos="12">
        <v-table width="100%" style="height: 80vh; overflow: auto" fluid>
          <thead style="background-color: #ad9472">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Image</th>
              <th>House_no</th>
              <th>Village_no</th>
              <th>Sub_district</th>
              <th>District</th>
              <th>Province</th>
              <th>Email</th>
              <th>Tel</th>
              <th>Position</th>
              <td></td>
              <th>Hourly_wage</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="item of employeeStore.employees"
              :key="item.id"
              style="background-color: #e9e3d0"
            >
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>
                <!-- <v-img
                  :src="`${backendURL}/employee/image${item.image}`"
                  height="128px"
                ></v-img> -->
                <v-img
                  :src="`http://localhost:3000/employees/image/${item.image}`"
                  height="auto"
                  width="100"
                ></v-img>
              </td>
              <td>{{ item.house_no }}</td>
              <td>ᅟᅟ{{ item.village_no }}</td>
              <td>{{ item.sub_district }}</td>
              <td>{{ item.district }}</td>
              <td>{{ item.province }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.tel }}</td>
              <td>{{ item.position }}</td>
              <td></td>
              <td>ᅟᅟ{{ item.hourly_wage }}</td>
              <td></td>

              <td>
                <v-btn
                  :icon="mdiPencil"
                  color="green-lighten-3"
                  class="ma-1"
                  @click="employeeStore.editEmployee(item)"
                ></v-btn
                ><v-btn
                  :icon="mdiDelete"
                  color="red-lighten-3"
                  class="ma-1"
                  @click="employeeStore.deleteEmployee(item.id!)"
                ></v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
