<script setup lang="ts">
import { mdiCursorDefaultClickOutline } from "@mdi/js";
import { useEmployeeStore } from "@/stores/employee";
// import type { VForm } from "vuetify/components";
// import { ref } from "vue";
// const form = ref<VForm | null>(null);
const employeeStore = useEmployeeStore();

// async function save() {
//   const { valid } = await form.value!.validate();
//   if (valid) {
//     await employeeStore.saveEmployee();
//   }
// }
const clear = () => {
  employeeStore.dialog = false;
  employeeStore.clearEmployee();
};
</script>
<template>
  <v-row justify="center">
    <v-dialog v-model="employeeStore.dialog" persistent width="1024">
      <template v-slot:activator="{ props }">
        <v-col cols="3" offset="9">
          <v-btn
            class="ma-5"
            color="brown"
            v-bind="props"
            :prepend-icon="mdiCursorDefaultClickOutline"
          >
            Add New Employee
          </v-btn>
        </v-col>
      </template>
      <v-card>
        <v-card-title>
          <span class="text-h5">Employee Profile</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  label="Name"
                  v-model="employeeStore.editedEmployee.name"
                  :rules="[
                    (v) => !!v || 'Name จะต้องไม่เป็นช่องว่าง',
                    (v) =>
                      v.length >= 2 ||
                      'Name จะต้องมีขนาดมากกว่าหรือเท่ากับ 2 ตัวอักษร',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  label="House_no"
                  v-model="employeeStore.editedEmployee.house_no"
                  :rules="[
                    (v) => !!v || 'House_no จะต้องไม่เป็นช่องว่าง',
                    (v) =>
                      v.length >= 1 ||
                      'House_no จะต้องมีขนาดมากกว่าหรือเท่ากับ 1 ตัวอักษร',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  label="Village_no"
                  v-model="employeeStore.editedEmployee.village_no"
                  :rules="[
                    (v) => !!v || 'Village_no จะต้องไม่เป็นช่องว่าง',
                    (v) =>
                      v.length >= 1 ||
                      'Village_no จะต้องมีขนาดมากกว่าหรือเท่ากับ 1 ตัวอักษร',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  label="Sub_district"
                  v-model="employeeStore.editedEmployee.sub_district"
                  :rules="[
                    (v) => !!v || 'Sub_district จะต้องไม่เป็นช่องว่าง',
                    (v) =>
                      v.length >= 5 ||
                      'Sub_district จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  label="District"
                  v-model="employeeStore.editedEmployee.district"
                  :rules="[
                    (v) => !!v || 'District จะต้องไม่เป็นช่องว่าง',
                    (v) =>
                      v.length >= 5 ||
                      'District จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  label="Province"
                  v-model="employeeStore.editedEmployee.province"
                  :rules="[
                    (v) => !!v || 'Province จะต้องไม่เป็นช่องว่าง',
                    (v) =>
                      v.length >= 5 ||
                      'Province จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  label="Email"
                  v-model="employeeStore.editedEmployee.email"
                  :rules="[
                    (v) => !!v || 'Email จะต้องไม่เป็นช่องว่าง',
                    (v) =>
                      v.length >= 5 ||
                      'Email จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  label="Tel"
                  v-model="employeeStore.editedEmployee.tel"
                  :rules="[
                    (v) => !!v || 'Tel จะต้องไม่เป็นช่องว่าง',
                    (v) =>
                      v.length >= 10 ||
                      'Tel จะต้องมีขนาดมากกว่าหรือเท่ากับ 10 ตัวเลข',
                  ]"
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  label="Position"
                  v-model="employeeStore.editedEmployee.position"
                  :rules="[
                    (v) => !!v || 'Position จะต้องไม่เป็นช่องว่าง',
                    (v) =>
                      v.length >= 3 ||
                      'Position จะต้องมีขนาดมากกว่าหรือเท่ากับ 3 ตัวอักษร',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  label="Hourly_wage"
                  v-model="employeeStore.editedEmployee.hourly_wage"
                  :rules="[
                    (v) => !!v || 'Hourly_wage จะต้องไม่เป็นช่องว่าง',
                    (v) =>
                      v.length >= 2 ||
                      'Hourly_wage จะต้องมีขนาดมากกว่าหรือเท่ากับ 2 ตัวเลข',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  label="UserID"
                  v-model="employeeStore.editedEmployee.userId"
                  :rules="[(v) => !!v || 'UserID จะต้องไม่เป็นช่องว่าง']"
                ></v-text-field>
              </v-col>
              <v-col col="12">
                <v-file-input
                  v-model="employeeStore.editedEmployee.files"
                  accept="image/*"
                  label="Image Input"
                ></v-file-input>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red-lighten-1"
            class="ma-1"
            variant="text"
            @click="clear"
          >
            Close
          </v-btn>
          <v-btn
            color="green-lighten-1"
            class="ma-1"
            variant="text"
            @click="employeeStore.saveEmployee()"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
