<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import type User from "@/types/User";

const userStore = useUserStore();

const deleteUser = (index: number): void => {
  userStore.deleteUser(index);
};
const addNewUser = () => {
  userStore.dialog = true;
};
const editUser = (user: User) => {
  userStore.editUser(user);
};
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="4">
        <v-card height="220px" width="550px" style="background-color: #ad9472">
          <v-btn
            height="220px"
            width="550px"
            class="text-h3"
            color="#ad9472"
            @click="addNewUser"
            >+</v-btn
          >
        </v-card>
      </v-col>
      <v-col cols="12" md="4" v-for="item of userStore.users" :key="item.id">
        <v-card height="220px" width="550px" style="background-color: white">
          <v-card-title style="background-color: #e9e3d0"
            >{{ item.login }} ({{ item.id }} )</v-card-title
          >
          <v-card-text style="background-color: white">
            Name : {{ item.name }}
          </v-card-text>
          <v-card-text style="background-color: white">
            Password : {{ item.password }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn color="red-lighten-3" @click="deleteUser"> Delete </v-btn>

            <v-btn color="green-lighten-3" @click="editUser"> Edit </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
