<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import type User from "@/types/User";
import { mdiDelete, mdiPencil, mdiCursorDefaultClickOutline } from "@mdi/js";
import { onMounted } from "vue";
const userStore = useUserStore();

// const deleteUser = (index: number): void => {
//   userStore.deleteUser(index);
// };
const addNewUser = () => {
  userStore.dialog = true;
};
// const editUser = (user: User) => {
//   userStore.editUser(user);
// };

onMounted(async () => {
  await userStore.getUsers();
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="3" offset="9">
        <v-btn
          color="brown"
          :prepend-icon="mdiCursorDefaultClickOutline"
          @click="addNewUser"
          >Add New User</v-btn
        >
      </v-col>
    </v-row>

    <v-row>
      <v-col clos="12">
        <v-table style="height: 80vh; overflow: auto" fluid>
          <thead style="background-color: #ad9472">
            <tr>
              <th>ID</th>
              <th>name</th>
              <th>Login</th>
              <th>password</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="item of userStore.users"
              :key="item.id"
              style="background-color: #e9e3d0"
            >
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.login }}</td>
              <td>{{ item.password }}</td>
              <td>
                <v-btn
                  :icon="mdiPencil"
                  color="green-lighten-3"
                  class="ma-1"
                  @click="userStore.editUser(item)"
                ></v-btn
                ><v-btn
                  :icon="mdiDelete"
                  color="red-lighten-3"
                  class="ma-1"
                  @click="userStore.deleteUser(item.id!)"
                ></v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
