<script setup lang="ts">
// import MainView from "./views/MainView.vue";
// import LoginView from "./views/LoginView.vue";
import MainLayout from "@/Layout/MainLayout.vue";
import FullLayout from "@/Layout/FullLayout.vue";
import LoadingDialog from "./components/LoadingDialog.vue";
import MessageBox from "./components/MessageBox.vue";
import { useThemeStore } from "@/stores/theme";

const themeStore = useThemeStore();
</script>

<template>
  <v-app :theme="themeStore.theme">
    <component
      :is="$route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"
    ></component>
    <LoadingDialog></LoadingDialog>
    <MessageBox></MessageBox>
  </v-app>
</template>

<style scoped></style>
